ada-lite/schema-full/RetrieveTransaction-prio1-vorig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   <xs:element name="prio1_vorig">
      <xs:annotation>
         <xs:documentation source="name" xml:lang="nl-NL">Prio1 vorig</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="zorgverlenerzorginstelling" minOccurs="0" maxOccurs="1">
               <xs:annotation>
                  <xs:documentation source="name" xml:lang="nl-NL">Zorgverlener/Zorginstelling</xs:documentation>
                  <xs:documentation source="desc" xml:lang="nl-NL">Persoon (met bijbehorende instelling) die verantwoordelijk of uitvoerder was voor de zorg van de patiënt en aanleveraar van de gegevens.</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="zorgverlener" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                           <xs:documentation source="name" xml:lang="nl-NL">Zorgverlener</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="naam_zorgverlener" minOccurs="0" maxOccurs="1">
                                 <xs:annotation>
                                    <xs:documentation source="name" xml:lang="nl-NL">Naam zorgverlener</xs:documentation>
                                 </xs:annotation>
                                 <xs:complexType>
                                    <xs:attribute name="conceptId"
                                                  type="t-id"
                                                  use="required"
                                                  fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10006"/>
                                    <xs:attribute name="value" use="required" type="xs:string"/>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="conceptId"
                                         type="t-id"
                                         use="required"
                                         fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10001"/>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="zorginstelling" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                           <xs:documentation source="name" xml:lang="nl-NL">Zorginstelling</xs:documentation>
                           <xs:documentation source="desc" xml:lang="nl-NL">Organisatie (instelling) die de zorg levert / heeft geleverd</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="naam_zorginstelling" minOccurs="1" maxOccurs="1">
                                 <xs:annotation>
                                    <xs:documentation source="name" xml:lang="nl-NL">Naam zorginstelling</xs:documentation>
                                    <xs:documentation source="desc" xml:lang="nl-NL">Naam van de instelling</xs:documentation>
                                 </xs:annotation>
                                 <xs:complexType>
                                    <xs:attribute name="conceptId"
                                                  type="t-id"
                                                  use="required"
                                                  fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10026"/>
                                    <xs:attribute name="value" use="required" type="xs:string"/>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="conceptId"
                                         type="t-id"
                                         use="required"
                                         fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10020"/>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="conceptId"
                                type="t-id"
                                use="required"
                                fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.1"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="vrouw" minOccurs="1" maxOccurs="1">
               <xs:annotation>
                  <xs:documentation source="name" xml:lang="nl-NL">Vrouw</xs:documentation>
                  <xs:documentation source="desc" xml:lang="nl-NL">Vrouw die obstetrische zorgdiensten afneemt / heeft afgenomen.</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="burgerservicenummer" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                           <xs:documentation source="name" xml:lang="nl-NL">Burgerservicenummer</xs:documentation>
                           <xs:documentation source="desc" xml:lang="nl-NL">Uniek identificatienummer voor iedereen die een meervoudige relatie met de Nederlandse overheid heeft, goed te identificeren is en opgenomen is in de Gemeentelijke Basisadministratie Persoonsgegevens (GBA) of in de Registratie Niet Ingezetenen (RNI).</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:attribute name="conceptId"
                                         type="t-id"
                                         use="required"
                                         fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10030"/>
                           <xs:attribute name="value" use="required">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:minLength value="9"/>
                                    <xs:maxLength value="9"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="naamgegevens" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                           <xs:documentation source="name" xml:lang="nl-NL">Naamgegevens</xs:documentation>
                           <xs:documentation source="desc" xml:lang="nl-NL">Naamgegevens van de vrouw.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="roepnaam" minOccurs="0" maxOccurs="1">
                                 <xs:annotation>
                                    <xs:documentation source="name" xml:lang="nl-NL">Roepnaam</xs:documentation>
                                    <xs:documentation source="desc" xml:lang="nl-NL">Naam, die de persoon voert en die niet de officiële naam is.</xs:documentation>
                                 </xs:annotation>
                                 <xs:complexType>
                                    <xs:attribute name="conceptId"
                                                  type="t-id"
                                                  use="required"
                                                  fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.82360"/>
                                    <xs:attribute name="value" use="required" type="xs:string"/>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="achternaam" minOccurs="0" maxOccurs="1">
                                 <xs:annotation>
                                    <xs:documentation source="name" xml:lang="nl-NL">Achternaam</xs:documentation>
                                 </xs:annotation>
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element name="soort_naam" minOccurs="0" maxOccurs="1">
                                          <xs:annotation>
                                             <xs:documentation source="name" xml:lang="nl-NL">Soort naam</xs:documentation>
                                             <xs:documentation source="desc" xml:lang="nl-NL">Aanduiding die aangeeft welke functie de naam heeft.</xs:documentation>
                                          </xs:annotation>
                                          <xs:complexType>
                                             <xs:attribute name="conceptId"
                                                           type="t-id"
                                                           use="required"
                                                           fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.82362"/>
                                             <xs:attribute name="value" use="required">
                                                <xs:simpleType>
                                                   <xs:restriction base="xs:string">
                                                      <xs:enumeration value="1">
                                                         <xs:annotation>
                                                            <xs:documentation source="name" xml:lang="nl-NL">Geslachtsnaam</xs:documentation>
                                                         </xs:annotation>
                                                      </xs:enumeration>
                                                      <xs:enumeration value="2">
                                                         <xs:annotation>
                                                            <xs:documentation source="name" xml:lang="nl-NL">Geslachtsnaam partner</xs:documentation>
                                                         </xs:annotation>
                                                      </xs:enumeration>
                                                   </xs:restriction>
                                                </xs:simpleType>
                                             </xs:attribute>
                                             <xs:attribute name="code" use="required">
                                                <xs:simpleType>
                                                   <xs:restriction base="xs:string">
                                                      <xs:enumeration value="BR"/>
                                                      <xs:enumeration value="SP"/>
                                                   </xs:restriction>
                                                </xs:simpleType>
                                             </xs:attribute>
                                             <xs:attribute name="codeSystem" use="required">
                                                <xs:simpleType>
                                                   <xs:restriction base="xs:string">
                                                      <xs:enumeration value="2.16.840.1.113883.5.43"/>
                                                      <xs:enumeration value="2.16.840.1.113883.5.43"/>
                                                   </xs:restriction>
                                                </xs:simpleType>
                                             </xs:attribute>
                                             <xs:attribute name="displayName" use="required">
                                                <xs:simpleType>
                                                   <xs:restriction base="xs:string">
                                                      <xs:enumeration value="Geslachtsnaam"/>
                                                      <xs:enumeration value="Geslachtsnaam partner"/>
                                                   </xs:restriction>
                                                </xs:simpleType>
                                             </xs:attribute>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element name="voorvoegsel" minOccurs="0" maxOccurs="1">
                                          <xs:annotation>
                                             <xs:documentation source="name" xml:lang="nl-NL">Voorvoegsel</xs:documentation>
                                             <xs:documentation source="desc" xml:lang="nl-NL">Deel van de achternaam dat het voorvoegsel bevat.</xs:documentation>
                                          </xs:annotation>
                                          <xs:complexType>
                                             <xs:attribute name="conceptId"
                                                           type="t-id"
                                                           use="required"
                                                           fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.82363"/>
                                             <xs:attribute name="value" use="required" type="xs:string"/>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element name="achternaam" minOccurs="0" maxOccurs="1">
                                          <xs:annotation>
                                             <xs:documentation source="name" xml:lang="nl-NL">Achternaam</xs:documentation>
                                             <xs:documentation source="desc" xml:lang="nl-NL">De achternaam van een persoon die bij de geboorte is vastgelegd. Afhankeljk van de soort naam is dit de geboortenaam van de persoon of van de partner</xs:documentation>
                                          </xs:annotation>
                                          <xs:complexType>
                                             <xs:attribute name="conceptId"
                                                           type="t-id"
                                                           use="required"
                                                           fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10043"/>
                                             <xs:attribute name="value" use="required" type="xs:string"/>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="conceptId"
                                                  type="t-id"
                                                  use="required"
                                                  fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.82361"/>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="conceptId"
                                         type="t-id"
                                         use="required"
                                         fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10035"/>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="conceptId"
                                type="t-id"
                                use="required"
                                fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.2"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="zwangerschap" minOccurs="0" maxOccurs="1">
               <xs:annotation>
                  <xs:documentation source="name" xml:lang="nl-NL">Zwangerschap</xs:documentation>
                  <xs:documentation source="desc" xml:lang="nl-NL">De al dan niet afgesloten zwangerschap waarop de gegevens betrekking hebben.</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="graviditeit" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                           <xs:documentation source="name" xml:lang="nl-NL">Graviditeit</xs:documentation>
                           <xs:documentation source="desc" xml:lang="nl-NL">Het aantal keren dat de vrouw zwanger is geworden (inclusief deze).</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:attribute name="conceptId"
                                         type="t-id"
                                         use="required"
                                         fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.20010"/>
                           <xs:attribute name="value" use="required">
                              <xs:simpleType>
                                 <xs:restriction base="xs:decimal">
                                    <xs:minInclusive value="1"/>
                                    <xs:maxInclusive value="75"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="pariteit_voor_deze_zwangerschap" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                           <xs:documentation source="name" xml:lang="nl-NL">Pariteit (vóór deze zwangerschap)</xs:documentation>
                           <xs:documentation source="desc" xml:lang="nl-NL">Aantal voorafgaande zwangerschappen vóór deze zwangerschap die eindigden met een partus (&gt;= 16w 0d / 112 dagen).De waarde van dit item is minimaal 1 minder dan graviditeit.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:attribute name="conceptId"
                                         type="t-id"
                                         use="required"
                                         fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.20150"/>
                           <xs:attribute name="value" use="required">
                              <xs:simpleType>
                                 <xs:restriction base="xs:decimal">
                                    <xs:minInclusive value="0"/>
                                    <xs:maxInclusive value="30"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="a_terme_datum_groep" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                           <xs:documentation source="name" xml:lang="nl-NL">A terme datum (groep)</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="a_terme_datum" minOccurs="0" maxOccurs="1">
                                 <xs:annotation>
                                    <xs:documentation source="name" xml:lang="nl-NL">A terme datum</xs:documentation>
                                    <xs:documentation source="desc" xml:lang="nl-NL">Datum waarop de zwangerschap naar verwachting 40w 0d is (280 dagen). Op meerdere momenten in de zwangerschap kunnen verschillende à terme datum worden gehanteerd.</xs:documentation>
                                 </xs:annotation>
                                 <xs:complexType>
                                    <xs:attribute name="conceptId"
                                                  type="t-id"
                                                  use="required"
                                                  fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.20030"/>
                                    <xs:attribute name="value" use="required" type="xs:string"/>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="conceptId"
                                         type="t-id"
                                         use="required"
                                         fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.20029"/>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="wijze_einde_zwangerschap" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                           <xs:documentation source="name" xml:lang="nl-NL">Wijze einde zwangerschap</xs:documentation>
                           <xs:documentation source="desc" xml:lang="nl-NL">De wijze waarop de zwangerschap geëindigd is. TOP (Termination of Pregnancy) is zwangerschapsafbreking na 16 weken. Bij TOP wordt hier 'Partus' geregistreerd, zodat dit meegenomen wordt als pariteit. Dit in tegenstelling tot APLA, waarmee een zwangerschapsafbreking (abortus) van minder dan 16 weken wordt bedoeld.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:attribute name="conceptId"
                                         type="t-id"
                                         use="required"
                                         fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.80625"/>
                           <xs:attribute name="value" use="required">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:enumeration value="1">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">Partus</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="2">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">Miskraam</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="3">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">Spontaan</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="4">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">Medicamenteus</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="5">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">Instrumenteel</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="6">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">APLA</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="7">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">Medicamenteus</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="8">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">Instrumenteel</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="9">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">EUG</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="10">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">(Partiële) Mola</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="11">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">geen informatie</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                           <xs:attribute name="code" use="required">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:enumeration value="1"/>
                                    <xs:enumeration value="2"/>
                                    <xs:enumeration value="21"/>
                                    <xs:enumeration value="22"/>
                                    <xs:enumeration value="23"/>
                                    <xs:enumeration value="3"/>
                                    <xs:enumeration value="31"/>
                                    <xs:enumeration value="32"/>
                                    <xs:enumeration value="4"/>
                                    <xs:enumeration value="5"/>
                                    <xs:enumeration value="NI"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                           <xs:attribute name="codeSystem" use="required">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:enumeration value="2.16.840.1.113883.2.4.4.13.46"/>
                                    <xs:enumeration value="2.16.840.1.113883.2.4.4.13.46"/>
                                    <xs:enumeration value="2.16.840.1.113883.2.4.4.13.46"/>
                                    <xs:enumeration value="2.16.840.1.113883.2.4.4.13.46"/>
                                    <xs:enumeration value="2.16.840.1.113883.2.4.4.13.46"/>
                                    <xs:enumeration value="2.16.840.1.113883.2.4.4.13.46"/>
                                    <xs:enumeration value="2.16.840.1.113883.2.4.4.13.46"/>
                                    <xs:enumeration value="2.16.840.1.113883.2.4.4.13.46"/>
                                    <xs:enumeration value="2.16.840.1.113883.2.4.4.13.46"/>
                                    <xs:enumeration value="2.16.840.1.113883.2.4.4.13.46"/>
                                    <xs:enumeration value="2.16.840.1.113883.5.1008"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                           <xs:attribute name="displayName" use="required">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:enumeration value="Partus"/>
                                    <xs:enumeration value="Miskraam"/>
                                    <xs:enumeration value="Spontaan"/>
                                    <xs:enumeration value="Medicamenteus"/>
                                    <xs:enumeration value="Instrumenteel"/>
                                    <xs:enumeration value="APLA"/>
                                    <xs:enumeration value="Medicamenteus"/>
                                    <xs:enumeration value="Instrumenteel"/>
                                    <xs:enumeration value="EUG - behandeld"/>
                                    <xs:enumeration value="(partiële) Mola - behandeld"/>
                                    <xs:enumeration value="geen informatie"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="datum_einde_zwangerschap" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                           <xs:documentation source="name" xml:lang="nl-NL">Datum einde zwangerschap</xs:documentation>
                           <xs:documentation source="desc" xml:lang="nl-NL">Moment (datum en tijd) waarop de zwangerschap medisch gezien is geëindigd, anders dan na een partus (bij een partus wordt dit item niet ingevuld). NB. Bij een partus wordt op een andere plaats in het dossier geregistreerd: geboortedatum per kind én geboortedatum/tijd van de placenta(e).</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:attribute name="conceptId"
                                         type="t-id"
                                         use="required"
                                         fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.20540"/>
                           <xs:attribute name="value" use="required" type="xs:string"/>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="conceptId"
                                type="t-id"
                                use="required"
                                fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.3"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="bevalling" minOccurs="0" maxOccurs="1">
               <xs:annotation>
                  <xs:documentation source="name" xml:lang="nl-NL">Bevalling</xs:documentation>
                  <xs:documentation source="desc" xml:lang="nl-NL">Gegevens over de partus</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="diagnose_bevalling" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                           <xs:documentation source="name" xml:lang="nl-NL">Diagnose bevalling</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="zwangerschapsduur" minOccurs="0" maxOccurs="1">
                                 <xs:annotation>
                                    <xs:documentation source="name" xml:lang="nl-NL">Zwangerschapsduur</xs:documentation>
                                    <xs:documentation source="desc" xml:lang="nl-NL">ZwangerschapsduurDe dataset definieert de zwangerschapsduur in dagen. Zorgverleners zien de zwangerschapsduur het liefste in weken/dagen. Dus bijvoorbeeld: 36w2d of 40+2.</xs:documentation>
                                 </xs:annotation>
                                 <xs:complexType>
                                    <xs:attribute name="conceptId"
                                                  type="t-id"
                                                  use="required"
                                                  fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.82382"/>
                                    <xs:attribute name="value" use="required" type="xs:decimal"/>
                                    <xs:attribute name="unit" type="xs:string" use="required" fixed="d"/>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="conceptId"
                                         type="t-id"
                                         use="required"
                                         fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.82291"/>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="hoeveelheid_bloedverlies" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                           <xs:documentation source="name" xml:lang="nl-NL">Hoeveelheid bloedverlies</xs:documentation>
                           <xs:documentation source="desc" xml:lang="nl-NL">Hoeveelheid bloedverlies tijdens baring/nageboortetijdperk</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:attribute name="conceptId"
                                         type="t-id"
                                         use="required"
                                         fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.20640"/>
                           <xs:attribute name="value" use="required">
                              <xs:simpleType>
                                 <xs:restriction base="xs:decimal">
                                    <xs:fractionDigits value="0"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                           <xs:attribute name="unit" type="xs:string" use="required" fixed="ml"/>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="conditie_perineum_postpartum" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                           <xs:documentation source="name" xml:lang="nl-NL">Conditie perineum postpartum</xs:documentation>
                           <xs:documentation source="desc" xml:lang="nl-NL">Conditie perineum postpartum. Het gaat hier om de conditie aan het einde van de bevalling/partus.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:attribute name="conceptId"
                                         type="t-id"
                                         use="required"
                                         fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.80673"/>
                           <xs:attribute name="value" use="required">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:enumeration value="1">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">Gaaf</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="2">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">1e graads perineumruptuur</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="3">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">2e graads perineumruptuur</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="4">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">3e graads ruptuur</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="5">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">3a - sfincterlaesie externum &lt; 50%</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="6">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">3b - sfincterlaesie externum ≥ 50%</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="7">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">3c - sfincterlaesie externum en internum</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="8">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">4e graads ruptuur</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="9">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">Episiotomiewond</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="10">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">Anders</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="11">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">Onbekend</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="12">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">Geen informatie</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                           <xs:attribute name="code" use="required">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:enumeration value="289854007"/>
                                    <xs:enumeration value="199916005"/>
                                    <xs:enumeration value="199925004"/>
                                    <xs:enumeration value="199930000"/>
                                    <xs:enumeration value="449807005"/>
                                    <xs:enumeration value="449808000"/>
                                    <xs:enumeration value="449809008"/>
                                    <xs:enumeration value="199934009"/>
                                    <xs:enumeration value="609344008"/>
                                    <xs:enumeration value="OTH"/>
                                    <xs:enumeration value="UNK"/>
                                    <xs:enumeration value="NI"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                           <xs:attribute name="codeSystem" use="required">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:enumeration value="2.16.840.1.113883.6.96"/>
                                    <xs:enumeration value="2.16.840.1.113883.6.96"/>
                                    <xs:enumeration value="2.16.840.1.113883.6.96"/>
                                    <xs:enumeration value="2.16.840.1.113883.6.96"/>
                                    <xs:enumeration value="2.16.840.1.113883.6.96"/>
                                    <xs:enumeration value="2.16.840.1.113883.6.96"/>
                                    <xs:enumeration value="2.16.840.1.113883.6.96"/>
                                    <xs:enumeration value="2.16.840.1.113883.6.96"/>
                                    <xs:enumeration value="2.16.840.1.113883.6.96"/>
                                    <xs:enumeration value="2.16.840.1.113883.5.1008"/>
                                    <xs:enumeration value="2.16.840.1.113883.5.1008"/>
                                    <xs:enumeration value="2.16.840.1.113883.5.1008"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                           <xs:attribute name="displayName" use="required">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:enumeration value="Perineum intact  (finding)"/>
                                    <xs:enumeration value="First degree perineal tear during delivery - delivered (disorder)"/>
                                    <xs:enumeration value="Second degree perineal tear during delivery - delivered  (disorder)"/>
                                    <xs:enumeration value="Third degree perineal tear during delivery - delivered  (disorder)"/>
                                    <xs:enumeration value="Type 3a third degree laceration of perineum  (disorder)"/>
                                    <xs:enumeration value="Type 3b third degree laceration of perineum (disorder)"/>
                                    <xs:enumeration value="Type 3c third degree laceration of perineum (disorder)"/>
                                    <xs:enumeration value="Fourth degree perineal tear during delivery - delivered  (disorder)"/>
                                    <xs:enumeration value="Episiotomy wound  (morphologic abnormality)"/>
                                    <xs:enumeration value="Anders"/>
                                    <xs:enumeration value="Onbekend"/>
                                    <xs:enumeration value="Geen informatie"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="conceptId"
                                type="t-id"
                                use="required"
                                fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.6"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="uitkomst_per_kind" minOccurs="0" maxOccurs="1">
               <xs:annotation>
                  <xs:documentation source="name" xml:lang="nl-NL">Uitkomst (per kind)</xs:documentation>
                  <xs:documentation source="desc" xml:lang="nl-NL">Groepering om de gegevens van elke uitkomst (kind) samen te vatten.</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="baring" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                           <xs:documentation source="name" xml:lang="nl-NL">Baring</xs:documentation>
                           <xs:documentation source="desc" xml:lang="nl-NL">Baring is het geboren laten worden van één uitkomst (kind).</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="kindspecifieke_maternale_gegevens"
                                          minOccurs="0"
                                          maxOccurs="1">
                                 <xs:annotation>
                                    <xs:documentation source="name" xml:lang="nl-NL">Kindspecifieke maternale gegevens</xs:documentation>
                                 </xs:annotation>
                                 <xs:complexType>
                                    <xs:attribute name="conceptId"
                                                  type="t-id"
                                                  use="required"
                                                  fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.71"/>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="kindspecifieke_uitkomstgegevens" minOccurs="0" maxOccurs="1">
                                 <xs:annotation>
                                    <xs:documentation source="name" xml:lang="nl-NL">Kindspecifieke uitkomstgegevens</xs:documentation>
                                 </xs:annotation>
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element name="type_partus" minOccurs="0" maxOccurs="1">
                                          <xs:annotation>
                                             <xs:documentation source="name" xml:lang="nl-NL">Type partus</xs:documentation>
                                             <xs:documentation source="desc" xml:lang="nl-NL">Type partus. Een primaire sectio is een geplande sectio en wordt óók als zodanig geregistreerd als deze uitgevoerd wordt wanneer de weeën al zijn begonnen, de vliezen zijn gebroken en/of de uitdrijving is begonnen. TOP (Termination of Pregnancy) is zwangerschapsafbreking na 16 weken. Dit in tegenstelling tot APLA, waarmee een zwangerschapsafbreking (abortus) van minder dan 16 weken wordt bedoeld.</xs:documentation>
                                          </xs:annotation>
                                          <xs:complexType>
                                             <xs:attribute name="conceptId"
                                                           type="t-id"
                                                           use="required"
                                                           fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.80626"/>
                                             <xs:attribute name="value" use="required">
                                                <xs:simpleType>
                                                   <xs:restriction base="xs:string">
                                                      <xs:enumeration value="1">
                                                         <xs:annotation>
                                                            <xs:documentation source="name" xml:lang="nl-NL">Spontaan</xs:documentation>
                                                         </xs:annotation>
                                                      </xs:enumeration>
                                                      <xs:enumeration value="2">
                                                         <xs:annotation>
                                                            <xs:documentation source="name" xml:lang="nl-NL">Vaginale kunstverlossing</xs:documentation>
                                                         </xs:annotation>
                                                      </xs:enumeration>
                                                      <xs:enumeration value="3">
                                                         <xs:annotation>
                                                            <xs:documentation source="name" xml:lang="nl-NL">Sectio Caesarea</xs:documentation>
                                                         </xs:annotation>
                                                      </xs:enumeration>
                                                      <xs:enumeration value="4">
                                                         <xs:annotation>
                                                            <xs:documentation source="name" xml:lang="nl-NL">Primair</xs:documentation>
                                                         </xs:annotation>
                                                      </xs:enumeration>
                                                      <xs:enumeration value="5">
                                                         <xs:annotation>
                                                            <xs:documentation source="name" xml:lang="nl-NL">Secundair</xs:documentation>
                                                         </xs:annotation>
                                                      </xs:enumeration>
                                                      <xs:enumeration value="6">
                                                         <xs:annotation>
                                                            <xs:documentation source="name" xml:lang="nl-NL">Termination Of Pregnancy (TOP)</xs:documentation>
                                                         </xs:annotation>
                                                      </xs:enumeration>
                                                      <xs:enumeration value="7">
                                                         <xs:annotation>
                                                            <xs:documentation source="name" xml:lang="nl-NL">onbekend</xs:documentation>
                                                         </xs:annotation>
                                                      </xs:enumeration>
                                                      <xs:enumeration value="8">
                                                         <xs:annotation>
                                                            <xs:documentation source="name" xml:lang="nl-NL">geen informatie</xs:documentation>
                                                         </xs:annotation>
                                                      </xs:enumeration>
                                                   </xs:restriction>
                                                </xs:simpleType>
                                             </xs:attribute>
                                             <xs:attribute name="code" use="required">
                                                <xs:simpleType>
                                                   <xs:restriction base="xs:string">
                                                      <xs:enumeration value="48782003"/>
                                                      <xs:enumeration value="8561000146109"/>
                                                      <xs:enumeration value="200146002"/>
                                                      <xs:enumeration value="200148001"/>
                                                      <xs:enumeration value="200149009"/>
                                                      <xs:enumeration value="39406005"/>
                                                      <xs:enumeration value="UNK"/>
                                                      <xs:enumeration value="NI"/>
                                                   </xs:restriction>
                                                </xs:simpleType>
                                             </xs:attribute>
                                             <xs:attribute name="codeSystem" use="required">
                                                <xs:simpleType>
                                                   <xs:restriction base="xs:string">
                                                      <xs:enumeration value="2.16.840.1.113883.6.96"/>
                                                      <xs:enumeration value="2.16.840.1.113883.6.96"/>
                                                      <xs:enumeration value="2.16.840.1.113883.6.96"/>
                                                      <xs:enumeration value="2.16.840.1.113883.6.96"/>
                                                      <xs:enumeration value="2.16.840.1.113883.6.96"/>
                                                      <xs:enumeration value="2.16.840.1.113883.6.96"/>
                                                      <xs:enumeration value="2.16.840.1.113883.5.1008"/>
                                                      <xs:enumeration value="2.16.840.1.113883.5.1008"/>
                                                   </xs:restriction>
                                                </xs:simpleType>
                                             </xs:attribute>
                                             <xs:attribute name="displayName" use="required">
                                                <xs:simpleType>
                                                   <xs:restriction base="xs:string">
                                                      <xs:enumeration value="Delivery normal (finding)"/>
                                                      <xs:enumeration value="Assisted delivery of fetus (finding)"/>
                                                      <xs:enumeration value="Cesarean delivery - delivered (finding)"/>
                                                      <xs:enumeration value="Delivery by elective cesarean section (finding)"/>
                                                      <xs:enumeration value="Delivery by emergency cesarean section (finding)"/>
                                                      <xs:enumeration value="Legally induced abortion (disorder)"/>
                                                      <xs:enumeration value="onbekend"/>
                                                      <xs:enumeration value="geen informatie"/>
                                                   </xs:restriction>
                                                </xs:simpleType>
                                             </xs:attribute>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element name="zwangerschapsduur" minOccurs="0" maxOccurs="1">
                                          <xs:annotation>
                                             <xs:documentation source="name" xml:lang="nl-NL">Zwangerschapsduur</xs:documentation>
                                             <xs:documentation source="desc" xml:lang="nl-NL">Zwangerschapsduur in dagen bij geboorte kinderen.De dataset definieert de zwangerschapsduur in dagen.Zorgverleners zien de zwangerschapsduur het liefste in weken/dagen. Dus bijvoorbeeld: 36w2d of 40+2.</xs:documentation>
                                          </xs:annotation>
                                          <xs:complexType>
                                             <xs:attribute name="conceptId"
                                                           type="t-id"
                                                           use="required"
                                                           fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.20062"/>
                                             <xs:attribute name="value" use="required">
                                                <xs:simpleType>
                                                   <xs:restriction base="xs:decimal">
                                                      <xs:minInclusive value="0"/>
                                                   </xs:restriction>
                                                </xs:simpleType>
                                             </xs:attribute>
                                             <xs:attribute name="unit" type="xs:string" use="required" fixed="d"/>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element name="apgarscore_na_5_min" minOccurs="0" maxOccurs="1">
                                          <xs:annotation>
                                             <xs:documentation source="name" xml:lang="nl-NL">Apgarscore na 5 min.</xs:documentation>
                                          </xs:annotation>
                                          <xs:complexType>
                                             <xs:attribute name="conceptId"
                                                           type="t-id"
                                                           use="required"
                                                           fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.40071"/>
                                             <xs:attribute name="value" use="required">
                                                <xs:simpleType>
                                                   <xs:restriction base="xs:decimal">
                                                      <xs:minInclusive value="0"/>
                                                      <xs:maxInclusive value="10"/>
                                                   </xs:restriction>
                                                </xs:simpleType>
                                             </xs:attribute>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element name="vaginale_kunstverlossing_groep" minOccurs="0" maxOccurs="1">
                                          <xs:annotation>
                                             <xs:documentation source="name" xml:lang="nl-NL">Vaginale kunstverlossing (groep)</xs:documentation>
                                          </xs:annotation>
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element name="vaginale_kunstverlossing" minOccurs="0" maxOccurs="1">
                                                   <xs:annotation>
                                                      <xs:documentation source="name" xml:lang="nl-NL">Vaginale kunstverlossing</xs:documentation>
                                                   </xs:annotation>
                                                   <xs:complexType>
                                                      <xs:attribute name="conceptId"
                                                                    type="t-id"
                                                                    use="required"
                                                                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.40190"/>
                                                      <xs:attribute name="value" use="required">
                                                         <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                               <xs:enumeration value="1">
                                                                  <xs:annotation>
                                                                     <xs:documentation source="name" xml:lang="nl-NL">Forceps</xs:documentation>
                                                                  </xs:annotation>
                                                               </xs:enumeration>
                                                               <xs:enumeration value="2">
                                                                  <xs:annotation>
                                                                     <xs:documentation source="name" xml:lang="nl-NL">Vacuüm</xs:documentation>
                                                                  </xs:annotation>
                                                               </xs:enumeration>
                                                               <xs:enumeration value="3">
                                                                  <xs:annotation>
                                                                     <xs:documentation source="name" xml:lang="nl-NL">Versie en extractie</xs:documentation>
                                                                  </xs:annotation>
                                                               </xs:enumeration>
                                                               <xs:enumeration value="4">
                                                                  <xs:annotation>
                                                                     <xs:documentation source="name" xml:lang="nl-NL">Partiële stuitextractie</xs:documentation>
                                                                  </xs:annotation>
                                                               </xs:enumeration>
                                                               <xs:enumeration value="5">
                                                                  <xs:annotation>
                                                                     <xs:documentation source="name" xml:lang="nl-NL">Stuitextractie</xs:documentation>
                                                                  </xs:annotation>
                                                               </xs:enumeration>
                                                               <xs:enumeration value="6">
                                                                  <xs:annotation>
                                                                     <xs:documentation source="name" xml:lang="nl-NL">anders</xs:documentation>
                                                                  </xs:annotation>
                                                               </xs:enumeration>
                                                               <xs:enumeration value="7">
                                                                  <xs:annotation>
                                                                     <xs:documentation source="name" xml:lang="nl-NL">geen informatie</xs:documentation>
                                                                  </xs:annotation>
                                                               </xs:enumeration>
                                                            </xs:restriction>
                                                         </xs:simpleType>
                                                      </xs:attribute>
                                                      <xs:attribute name="code" use="required">
                                                         <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                               <xs:enumeration value="302383004"/>
                                                               <xs:enumeration value="61586001"/>
                                                               <xs:enumeration value="699999008"/>
                                                               <xs:enumeration value="359940006"/>
                                                               <xs:enumeration value="416055001"/>
                                                               <xs:enumeration value="OTH"/>
                                                               <xs:enumeration value="NI"/>
                                                            </xs:restriction>
                                                         </xs:simpleType>
                                                      </xs:attribute>
                                                      <xs:attribute name="codeSystem" use="required">
                                                         <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                               <xs:enumeration value="2.16.840.1.113883.6.96"/>
                                                               <xs:enumeration value="2.16.840.1.113883.6.96"/>
                                                               <xs:enumeration value="2.16.840.1.113883.6.96"/>
                                                               <xs:enumeration value="2.16.840.1.113883.6.96"/>
                                                               <xs:enumeration value="2.16.840.1.113883.6.96"/>
                                                               <xs:enumeration value="2.16.840.1.113883.5.1008"/>
                                                               <xs:enumeration value="2.16.840.1.113883.5.1008"/>
                                                            </xs:restriction>
                                                         </xs:simpleType>
                                                      </xs:attribute>
                                                      <xs:attribute name="displayName" use="required">
                                                         <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                               <xs:enumeration value="Forceps delivery (procedure)"/>
                                                               <xs:enumeration value="Delivery by vacuum extraction (procedure)"/>
                                                               <xs:enumeration value="Obstetrical version with extraction (procedure)"/>
                                                               <xs:enumeration value="Partial breech extraction (procedure)"/>
                                                               <xs:enumeration value="Total breech extraction (procedure)"/>
                                                               <xs:enumeration value="anders"/>
                                                               <xs:enumeration value="geen informatie"/>
                                                            </xs:restriction>
                                                         </xs:simpleType>
                                                      </xs:attribute>
                                                   </xs:complexType>
                                                </xs:element>
                                             </xs:sequence>
                                             <xs:attribute name="conceptId"
                                                           type="t-id"
                                                           use="required"
                                                           fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.40189"/>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element name="lichamelijk_onderzoek_kind" minOccurs="0" maxOccurs="1">
                                          <xs:annotation>
                                             <xs:documentation source="name" xml:lang="nl-NL">Lichamelijk onderzoek kind</xs:documentation>
                                             <xs:documentation source="desc" xml:lang="nl-NL">Lichamelijk onderzoek pasgeborene direct postpartum</xs:documentation>
                                          </xs:annotation>
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element name="geboortegewicht" minOccurs="0" maxOccurs="1">
                                                   <xs:annotation>
                                                      <xs:documentation source="name" xml:lang="nl-NL">Geboortegewicht</xs:documentation>
                                                      <xs:documentation source="desc" xml:lang="nl-NL">Meting van het lichaamsgewicht zo kort mogelijk na de geboorte.</xs:documentation>
                                                   </xs:annotation>
                                                   <xs:complexType>
                                                      <xs:attribute name="conceptId"
                                                                    type="t-id"
                                                                    use="required"
                                                                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.40060"/>
                                                      <xs:attribute name="value" use="required">
                                                         <xs:simpleType>
                                                            <xs:restriction base="xs:decimal">
                                                               <xs:minInclusive value="0"/>
                                                               <xs:fractionDigits value="0"/>
                                                            </xs:restriction>
                                                         </xs:simpleType>
                                                      </xs:attribute>
                                                      <xs:attribute name="unit" type="xs:string" use="required" fixed="gram"/>
                                                   </xs:complexType>
                                                </xs:element>
                                             </xs:sequence>
                                             <xs:attribute name="conceptId"
                                                           type="t-id"
                                                           use="required"
                                                           fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.80766"/>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="conceptId"
                                                  type="t-id"
                                                  use="required"
                                                  fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.72"/>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="conceptId"
                                         type="t-id"
                                         use="required"
                                         fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.40002"/>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="conceptId"
                                type="t-id"
                                use="required"
                                fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.7"/>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
         <xs:attribute name="transactionRef"
                       type="t-id"
                       use="required"
                       fixed="2.16.840.1.113883.2.4.3.11.60.90.77.4.2456"/>
         <xs:attribute name="transactionEffectiveDate"
                       type="xs:dateTime"
                       use="required"
                       fixed="2019-02-20T11:05:00"/>
         <xs:attribute name="versionDate" type="xs:dateTime" use="required"/>
         <xs:attribute name="prefix" type="xs:string" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:simpleType name="t-id">
      <xs:annotation>
         <xs:documentation>An identifier</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:pattern value="([0-9]+\.)+([0-9]+)"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
