ada-lite/schemas/RetrieveTransaction-prio1-huidig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:annotation>
      <xs:documentation>Schema for transaction: 2.16.840.1.113883.2.4.3.11.60.90.77.4.2453</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="empty_string">
      <xs:annotation>
         <xs:documentation>Type for empty value-strings on non-mandatory concepts</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="prio1_huidig" type="prio1_huidig_type"/>
   <xs:complexType name="prio1_huidig_type">
      <xs:sequence>
         <xs:element name="zorgverlenerzorginstelling-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.1"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="zorgverlenerzorginstelling"
                     type="zorgverlenerzorginstelling_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_1"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="vrouw-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.2"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="vrouw"
                     type="vrouw_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_2"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="zwangerschap-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.3"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="zwangerschap"
                     type="zwangerschap_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_3"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="medisch_onderzoek-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.14"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="medisch_onderzoek"
                     type="medisch_onderzoek_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_14"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string"/>
      <xs:attribute name="app" type="xs:string"/>
      <xs:attribute name="shortName" type="xs:string" use="optional"/>
      <xs:attribute name="formName" type="xs:string" use="optional"/>
      <xs:attribute name="transactionRef" type="xs:string"/>
      <xs:attribute name="transactionEffectiveDate" type="xs:dateTime"/>
      <xs:attribute name="versionDate" type="xs:string"/>
      <xs:attribute name="language" type="xs:string"/>
      <xs:attribute name="prefix" type="xs:string"/>
      <xs:attribute name="adaVersion" type="xs:decimal"/>
      <xs:attribute name="title" type="xs:string"/>
      <xs:attribute name="rights" type="xs:string"/>
      <xs:attribute name="owner" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="zorgverlenerzorginstelling_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_1">
      <xs:annotation>
         <xs:documentation>Type for concept group: Zorgverlener/Zorginstelling</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="zorgverlener-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10001"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="zorgverlener"
                     type="zorgverlener_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10001"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="zorginstelling-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10020"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="zorginstelling"
                     type="zorginstelling_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10020"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.1"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="zorgverlener_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10001">
      <xs:annotation>
         <xs:documentation>Type for concept group: Zorgverlener</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="naam_zorgverlener-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10006"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="naam_zorgverlener"
                     type="naam_zorgverlener_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10006"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10001"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="zorginstelling_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10020">
      <xs:annotation>
         <xs:documentation>Type for concept group: Zorginstelling</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="naam_zorginstelling-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10026"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="naam_zorginstelling"
                     type="naam_zorginstelling_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10026"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10020"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="vrouw_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_2">
      <xs:annotation>
         <xs:documentation>Type for concept group: Vrouw</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="burgerservicenummer-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10030"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="burgerservicenummer"
                     type="burgerservicenummer_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10030"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="naamgegevens-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10035"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="naamgegevens"
                     type="naamgegevens_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10035"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="anamnese-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.80811"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="anamnese"
                     type="anamnese_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_80811"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="bloedgroep_vrouw-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10810"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="bloedgroep_vrouw"
                     type="bloedgroep_vrouw_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10810"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="rhesus_d_factor_vrouw-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10811"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="rhesus_d_factor_vrouw"
                     type="rhesus_d_factor_vrouw_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10811"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="rhesus_c_factor-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10816"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="rhesus_c_factor"
                     type="rhesus_c_factor_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10816"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.2"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="naamgegevens_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10035">
      <xs:annotation>
         <xs:documentation>Type for concept group: Naamgegevens</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="roepnaam-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.82360"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="roepnaam"
                     type="roepnaam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_82360"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="achternaam-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.82361"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="achternaam"
                     type="achternaam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_82361"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10035"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="achternaam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_82361">
      <xs:annotation>
         <xs:documentation>Type for concept group: Achternaam</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="soort_naam-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.82362"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="soort_naam"
                     type="soort_naam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_82362"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="voorvoegsel-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.82363"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="voorvoegsel"
                     type="voorvoegsel_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_82363"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="achternaam-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10043"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="achternaam"
                     type="achternaam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10043"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.82361"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="anamnese_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_80811">
      <xs:annotation>
         <xs:documentation>Type for concept group: Anamnese</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.80811"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="zwangerschap_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_3">
      <xs:annotation>
         <xs:documentation>Type for concept group: Zwangerschap</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="graviditeit-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.20010"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="graviditeit"
                     type="graviditeit_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_20010"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="pariteit-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.20153"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="pariteit"
                     type="pariteit_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_20153"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.3"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="medisch_onderzoek_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_14">
      <xs:annotation>
         <xs:documentation>Type for concept group: Medisch onderzoek</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="maternale_onderzoeksgegevens-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.142"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="maternale_onderzoeksgegevens"
                     type="maternale_onderzoeksgegevens_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_142"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.14"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="maternale_onderzoeksgegevens_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_142">
      <xs:annotation>
         <xs:documentation>Type for concept group: Maternale onderzoeksgegevens</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="urine_bloed_en_aanvullende_onderzoeken-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.80959"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="urine_bloed_en_aanvullende_onderzoeken"
                     type="urine_bloed_en_aanvullende_onderzoeken_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_80959"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.142"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="urine_bloed_en_aanvullende_onderzoeken_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_80959">
      <xs:annotation>
         <xs:documentation>Type for concept group: Urine-, bloed- en aanvullende onderzoeken</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="hb-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10814"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="hb"
                     type="hb_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10814"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.80959"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Naam zorgverlener - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="naam_zorgverlener_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10006">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10006"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Naam zorginstelling - 1..1 M</xs:documentation>
   </xs:annotation>
   <xs:complexType name="naam_zorginstelling_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10026">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10026"/>
      <xs:attribute name="value" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>@conformance='M'</xs:documentation>
               </xs:annotation>
               <xs:minLength value="1"/>
               <xs:pattern value=".*[^\s].*"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Burgerservicenummer - 1..1 M</xs:documentation>
   </xs:annotation>
   <xs:complexType name="burgerservicenummer_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10030">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10030"/>
      <xs:attribute name="value" use="required">
         <xs:simpleType>
            <xs:union memberTypes="burgerservicenummer_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10030 "/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Burgerservicenummer: identifier</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="burgerservicenummer_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10030">
      <xs:restriction base="xs:string">
         <xs:minLength value="9"/>
         <xs:maxLength value="9"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Roepnaam - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="roepnaam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_82360">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.82360"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Soort naam - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="soort_naam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_82362">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.82362"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" type="xs:string" use="optional"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string" use="optional"/>
      <xs:attribute name="codeSystemVersion" type="xs:string" use="optional"/>
      <xs:attribute name="originalText" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Voorvoegsel - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="voorvoegsel_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_82363">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.82363"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Achternaam - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="achternaam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10043">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10043"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Bloedgroep vrouw - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="bloedgroep_vrouw_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10810">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10810"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" type="xs:string" use="optional"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string" use="optional"/>
      <xs:attribute name="codeSystemVersion" type="xs:string" use="optional"/>
      <xs:attribute name="originalText" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Rhesus D Factor vrouw - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="rhesus_d_factor_vrouw_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10811">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10811"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" type="xs:string" use="optional"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string" use="optional"/>
      <xs:attribute name="codeSystemVersion" type="xs:string" use="optional"/>
      <xs:attribute name="originalText" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Rhesus c Factor - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="rhesus_c_factor_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10816">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10816"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" type="xs:string" use="optional"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string" use="optional"/>
      <xs:attribute name="codeSystemVersion" type="xs:string" use="optional"/>
      <xs:attribute name="originalText" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Graviditeit - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="graviditeit_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_20010">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.20010"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="graviditeit_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_20010 empty_string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Graviditeit: count</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="graviditeit_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_20010">
      <xs:restriction base="xs:nonNegativeInteger">
         <xs:minInclusive value="1"/>
         <xs:maxInclusive value="75"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Pariteit - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="pariteit_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_20153">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.20153"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="pariteit_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_20153 empty_string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Pariteit: count</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="pariteit_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_20153">
      <xs:restriction base="xs:nonNegativeInteger">
         <xs:minInclusive value="0"/>
         <xs:maxInclusive value="30"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Hb - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="hb_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10814">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10814"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="hb_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10814 empty_string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="unit">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="mmol/L"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Hb: quantity</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="hb_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10814">
      <xs:restriction base="xs:decimal">
         <xs:minInclusive value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="adaextension_type">
      <xs:sequence>
         <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:anyAttribute processContents="skip"/>
   </xs:complexType>
   <xs:simpleType name="NullFlavorNoInformation">
      <xs:restriction base="xs:string">
         <xs:enumeration value="NI"/>
         <xs:enumeration value="UNK"/>
         <xs:enumeration value="OTH"/>
         <xs:enumeration value="MSK"/>
         <xs:enumeration value="UNC"/>
         <xs:enumeration value="NA"/>
         <xs:enumeration value="NAV"/>
         <xs:enumeration value="ASKU"/>
         <xs:enumeration value="NASK"/>
         <xs:enumeration value="INV"/>
         <xs:enumeration value="DER"/>
         <xs:enumeration value="NINF"/>
         <xs:enumeration value="PINF"/>
         <xs:enumeration value="QS"/>
         <xs:enumeration value="TRC"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
