ada-lite/schemas-art-decor/prio1-vorig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!--
MIT License

Copyright (c) 2019 Marc de Graauw and Erik Siegel

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->
   <xs:annotation>
      <xs:documentation>Schema for transaction: 2.16.840.1.113883.2.4.3.11.60.90.77.4.2456</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="empty_string">
      <xs:annotation>
         <xs:documentation>Type for empty value-strings on non-mandatory concepts</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="prio1_vorig" type="prio1_vorig_type"/>
   <xs:complexType name="prio1_vorig_type">
      <xs:sequence>
         <xs:element name="zorgverlenerzorginstelling-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.1"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="zorgverlenerzorginstelling"
                     type="zorgverlenerzorginstelling_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_1"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="vrouw-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.2"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="vrouw"
                     type="vrouw_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_2"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="zwangerschap-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.3"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="zwangerschap"
                     type="zwangerschap_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_3"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="bevalling-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.6"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="bevalling"
                     type="bevalling_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_6"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="uitkomst_per_kind-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.7"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="uitkomst_per_kind"
                     type="uitkomst_per_kind_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_7"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string"/>
      <xs:attribute name="app" type="xs:string"/>
      <xs:attribute name="shortName" type="xs:string" use="optional"/>
      <xs:attribute name="formName" type="xs:string" use="optional"/>
      <xs:attribute name="transactionRef" type="xs:string"/>
      <xs:attribute name="transactionEffectiveDate" type="xs:dateTime"/>
      <xs:attribute name="versionDate" type="xs:string"/>
      <xs:attribute name="language" type="xs:string"/>
      <xs:attribute name="prefix" type="xs:string"/>
      <xs:attribute name="adaVersion" type="xs:decimal"/>
      <xs:attribute name="title" type="xs:string"/>
      <xs:attribute name="rights" type="xs:string"/>
      <xs:attribute name="owner" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="zorgverlenerzorginstelling_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_1">
      <xs:annotation>
         <xs:documentation>Type for concept group: Zorgverlener/Zorginstelling</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="zorgverlener-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10001"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="zorgverlener"
                     type="zorgverlener_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10001"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="zorginstelling-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10020"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="zorginstelling"
                     type="zorginstelling_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10020"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.1"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="zorgverlener_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10001">
      <xs:annotation>
         <xs:documentation>Type for concept group: Zorgverlener</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="naam_zorgverlener-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10006"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="naam_zorgverlener"
                     type="naam_zorgverlener_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10006"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10001"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="zorginstelling_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10020">
      <xs:annotation>
         <xs:documentation>Type for concept group: Zorginstelling</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="naam_zorginstelling-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10026"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="naam_zorginstelling"
                     type="naam_zorginstelling_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10026"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10020"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="vrouw_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_2">
      <xs:annotation>
         <xs:documentation>Type for concept group: Vrouw</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="burgerservicenummer-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10030"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="burgerservicenummer"
                     type="burgerservicenummer_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10030"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="naamgegevens-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10035"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="naamgegevens"
                     type="naamgegevens_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10035"
                     minOccurs="1"
                     maxOccurs="2"/>
         <xs:element name="geboortedatum-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10040"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="geboortedatum"
                     type="geboortedatum_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10040"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.2"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="naamgegevens_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10035">
      <xs:annotation>
         <xs:documentation>Type for concept group: Naamgegevens</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="voornamen-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10042"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="voornamen"
                     type="voornamen_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10042"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="initialen-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.82359"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="initialen"
                     type="initialen_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_82359"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="roepnaam-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.82360"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="roepnaam"
                     type="roepnaam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_82360"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="achternaam-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.82361"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="achternaam"
                     type="achternaam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_82361"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10035"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="achternaam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_82361">
      <xs:annotation>
         <xs:documentation>Type for concept group: Achternaam</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="soort_naam-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.82362"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="soort_naam"
                     type="soort_naam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_82362"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="voorvoegsel-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.82363"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="voorvoegsel"
                     type="voorvoegsel_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_82363"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="achternaam-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10043"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="achternaam"
                     type="achternaam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10043"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.82361"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="zwangerschap_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_3">
      <xs:annotation>
         <xs:documentation>Type for concept group: Zwangerschap</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="graviditeit-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.20010"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="graviditeit"
                     type="graviditeit_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_20010"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="pariteit_voor_deze_zwangerschap-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.20150"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="pariteit_voor_deze_zwangerschap"
                     type="pariteit_voor_deze_zwangerschap_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_20150"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="a_terme_datum_groep-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.20029"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="a_terme_datum_groep"
                     type="a_terme_datum_groep_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_20029"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="wijze_einde_zwangerschap-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.80625"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="wijze_einde_zwangerschap"
                     type="wijze_einde_zwangerschap_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_80625"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="datum_einde_zwangerschap-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.20540"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="datum_einde_zwangerschap"
                     type="datum_einde_zwangerschap_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_20540"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.3"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="a_terme_datum_groep_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_20029">
      <xs:annotation>
         <xs:documentation>Type for concept group: A terme datum (groep)</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="a_terme_datum-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.20030"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="a_terme_datum"
                     type="a_terme_datum_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_20030"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.20029"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="bevalling_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_6">
      <xs:annotation>
         <xs:documentation>Type for concept group: Bevalling</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="diagnose_bevalling-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.82291"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="diagnose_bevalling"
                     type="diagnose_bevalling_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_82291"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="hoeveelheid_bloedverlies-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.20640"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="hoeveelheid_bloedverlies"
                     type="hoeveelheid_bloedverlies_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_20640"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="conditie_perineum_postpartum-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.80673"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="conditie_perineum_postpartum"
                     type="conditie_perineum_postpartum_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_80673"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.6"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="diagnose_bevalling_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_82291">
      <xs:annotation>
         <xs:documentation>Type for concept group: Diagnose bevalling</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="zwangerschapsduur-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.82382"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="zwangerschapsduur"
                     type="zwangerschapsduur_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_82382"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.82291"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="uitkomst_per_kind_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_7">
      <xs:annotation>
         <xs:documentation>Type for concept group: Uitkomst (per kind)</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="baring-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.40002"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="baring"
                     type="baring_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_40002"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.7"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="baring_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_40002">
      <xs:annotation>
         <xs:documentation>Type for concept group: Baring</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="kindspecifieke_maternale_gegevens-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.71"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="kindspecifieke_maternale_gegevens"
                     type="kindspecifieke_maternale_gegevens_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_71"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="kindspecifieke_uitkomstgegevens-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.72"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="kindspecifieke_uitkomstgegevens"
                     type="kindspecifieke_uitkomstgegevens_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_72"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.40002"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="kindspecifieke_maternale_gegevens_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_71">
      <xs:annotation>
         <xs:documentation>Type for concept group: Kindspecifieke maternale gegevens</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.71"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="kindspecifieke_uitkomstgegevens_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_72">
      <xs:annotation>
         <xs:documentation>Type for concept group: Kindspecifieke uitkomstgegevens</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="type_partus-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.80626"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="type_partus"
                     type="type_partus_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_80626"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="zwangerschapsduur-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.20062"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="zwangerschapsduur"
                     type="zwangerschapsduur_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_20062"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="apgarscore_na_5_min-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.40071"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="apgarscore_na_5_min"
                     type="apgarscore_na_5_min_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_40071"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="vaginale_kunstverlossing_groep-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.40189"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="vaginale_kunstverlossing_groep"
                     type="vaginale_kunstverlossing_groep_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_40189"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="lichamelijk_onderzoek_kind-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.80766"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="lichamelijk_onderzoek_kind"
                     type="lichamelijk_onderzoek_kind_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_80766"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.72"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="vaginale_kunstverlossing_groep_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_40189">
      <xs:annotation>
         <xs:documentation>Type for concept group: Vaginale kunstverlossing (groep)</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="vaginale_kunstverlossing-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.40190"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="vaginale_kunstverlossing"
                     type="vaginale_kunstverlossing_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_40190"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.40189"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="lichamelijk_onderzoek_kind_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_80766">
      <xs:annotation>
         <xs:documentation>Type for concept group: Lichamelijk onderzoek kind</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="geboortegewicht-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.40060"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="geboortegewicht"
                     type="geboortegewicht_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_40060"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.80766"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Naam zorgverlener - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="naam_zorgverlener_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10006">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10006"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Naam zorginstelling - 1..1 M</xs:documentation>
   </xs:annotation>
   <xs:complexType name="naam_zorginstelling_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10026">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10026"/>
      <xs:attribute name="value" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>@conformance='M'</xs:documentation>
               </xs:annotation>
               <xs:minLength value="1"/>
               <xs:pattern value=".*[^\s].*"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Burgerservicenummer - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="burgerservicenummer_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10030">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10030"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="burgerservicenummer_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10030 empty_string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Burgerservicenummer: identifier</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="burgerservicenummer_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10030">
      <xs:restriction base="xs:string">
         <xs:minLength value="9"/>
         <xs:maxLength value="9"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Voornamen - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="voornamen_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10042">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10042"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Initialen - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="initialen_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_82359">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.82359"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Roepnaam - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="roepnaam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_82360">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.82360"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Soort naam - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="soort_naam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_82362">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.82362"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" type="xs:string" use="optional"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string" use="optional"/>
      <xs:attribute name="codeSystemVersion" type="xs:string" use="optional"/>
      <xs:attribute name="originalText" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Voorvoegsel - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="voorvoegsel_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_82363">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.82363"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Achternaam - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="achternaam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10043">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10043"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Geboortedatum - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="geboortedatum_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10040">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10040"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="geboortedatum_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10040 empty_string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Geboortedatum: date</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="geboortedatum_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_10040">
      <xs:restriction base="xs:date"/>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Graviditeit - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="graviditeit_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_20010">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.20010"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="graviditeit_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_20010 empty_string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Graviditeit: count</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="graviditeit_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_20010">
      <xs:restriction base="xs:nonNegativeInteger">
         <xs:minInclusive value="1"/>
         <xs:maxInclusive value="75"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Pariteit (v贸贸r deze zwangerschap) - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="pariteit_voor_deze_zwangerschap_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_20150">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.20150"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="pariteit_voor_deze_zwangerschap_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_20150 empty_string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Pariteit (v贸贸r deze zwangerschap): count</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="pariteit_voor_deze_zwangerschap_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_20150">
      <xs:restriction base="xs:nonNegativeInteger">
         <xs:minInclusive value="0"/>
         <xs:maxInclusive value="30"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: A terme datum - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="a_terme_datum_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_20030">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.20030"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="a_terme_datum_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_20030 empty_string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: A terme datum: datetime</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="a_terme_datum_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_20030">
      <xs:restriction base="xs:date"/>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Wijze einde zwangerschap - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="wijze_einde_zwangerschap_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_80625">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.80625"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" type="xs:string" use="optional"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string" use="optional"/>
      <xs:attribute name="codeSystemVersion" type="xs:string" use="optional"/>
      <xs:attribute name="originalText" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Datum einde zwangerschap - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="datum_einde_zwangerschap_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_20540">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.20540"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="datum_einde_zwangerschap_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_20540 empty_string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Datum einde zwangerschap: datetime</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="datum_einde_zwangerschap_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_20540">
      <xs:union memberTypes="xs:date xs:dateTime"/>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Zwangerschapsduur - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="zwangerschapsduur_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_82382">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.82382"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="zwangerschapsduur_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_82382 empty_string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="unit">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="d"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Zwangerschapsduur: quantity</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="zwangerschapsduur_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_82382">
      <xs:restriction base="xs:decimal"/>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Hoeveelheid bloedverlies - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="hoeveelheid_bloedverlies_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_20640">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.20640"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="hoeveelheid_bloedverlies_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_20640 empty_string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="unit">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="ml"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Hoeveelheid bloedverlies: quantity</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="hoeveelheid_bloedverlies_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_20640">
      <xs:restriction base="xs:decimal"/>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Conditie perineum postpartum - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="conditie_perineum_postpartum_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_80673">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.80673"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" type="xs:string" use="optional"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string" use="optional"/>
      <xs:attribute name="codeSystemVersion" type="xs:string" use="optional"/>
      <xs:attribute name="originalText" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Type partus - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="type_partus_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_80626">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.80626"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" type="xs:string" use="optional"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string" use="optional"/>
      <xs:attribute name="codeSystemVersion" type="xs:string" use="optional"/>
      <xs:attribute name="originalText" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Zwangerschapsduur - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="zwangerschapsduur_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_20062">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.20062"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="zwangerschapsduur_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_20062 empty_string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="unit">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="d"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Zwangerschapsduur: quantity</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="zwangerschapsduur_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_20062">
      <xs:restriction base="xs:decimal">
         <xs:minInclusive value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Apgarscore na 5 min. - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="apgarscore_na_5_min_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_40071">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.40071"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="apgarscore_na_5_min_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_40071 empty_string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Apgarscore na 5 min.: count</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="apgarscore_na_5_min_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_40071">
      <xs:restriction base="xs:nonNegativeInteger">
         <xs:minInclusive value="0"/>
         <xs:maxInclusive value="10"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Vaginale kunstverlossing - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="vaginale_kunstverlossing_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_40190">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.40190"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" type="xs:string" use="optional"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string" use="optional"/>
      <xs:attribute name="codeSystemVersion" type="xs:string" use="optional"/>
      <xs:attribute name="originalText" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Geboortegewicht - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="geboortegewicht_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_40060">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.40060"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="geboortegewicht_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_40060 empty_string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="unit">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="gram"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Geboortegewicht: quantity</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="geboortegewicht_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_5_40060">
      <xs:restriction base="xs:decimal">
         <xs:minInclusive value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="adaextension_type">
      <xs:sequence>
         <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:anyAttribute processContents="skip"/>
   </xs:complexType>
   <xs:simpleType name="NullFlavorNoInformation">
      <xs:restriction base="xs:string">
         <xs:enumeration value="NI"/>
         <xs:enumeration value="UNK"/>
         <xs:enumeration value="OTH"/>
         <xs:enumeration value="MSK"/>
         <xs:enumeration value="UNC"/>
         <xs:enumeration value="NA"/>
         <xs:enumeration value="NAV"/>
         <xs:enumeration value="ASKU"/>
         <xs:enumeration value="NASK"/>
         <xs:enumeration value="INV"/>
         <xs:enumeration value="DER"/>
         <xs:enumeration value="NINF"/>
         <xs:enumeration value="PINF"/>
         <xs:enumeration value="QS"/>
         <xs:enumeration value="TRC"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
