ada-lite/schemas-simple-full/prio1-huidig.simple.full.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
<!--
MIT License

Copyright (c) 2019 Marc de Graauw and Erik Siegel

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->
   <xs:annotation>
      <xs:documentation xml:lang="nl-NL">Schema for ADA documents prio1_huidige_zwangerschap - Full version</xs:documentation>
      <xs:documentation xml:lang="nl-NL">Source: design/specs-full/prio1-huidig.xml</xs:documentation>
      <xs:documentation xml:lang="nl-NL">Generator: design/xsl/ada-rtd2ada-schema-simple.xsl</xs:documentation>
      <xs:appinfo source="shortname">prio1_huidige_zwangerschap</xs:appinfo>
      <xs:appinfo source="source">design/specs-full/prio1-huidig.xml</xs:appinfo>
      <xs:appinfo source="lite-or-full">Full</xs:appinfo>
      <xs:appinfo source="generator">design/xsl/ada-rtd2ada-schema-simple.xsl</xs:appinfo>
   </xs:annotation>
   <xs:element name="prio1_huidige_zwangerschap" type="prio1_huidige_zwangerschap">
      <xs:annotation>
         <xs:documentation source="name" xml:lang="nl-NL">Prio1 huidige zwangerschap</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:simpleType name="t-id">
      <xs:annotation>
         <xs:documentation>An identifier in an ADA transaction</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:pattern value="([0-9]+\.)+([0-9]+)"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="t-datetime">
      <xs:union memberTypes="xs:date xs:dateTime"/>
   </xs:simpleType>
   <xs:simpleType name="NullFlavorNoInformation">
      <xs:restriction base="xs:string">
         <xs:enumeration value="NI"/>
         <xs:enumeration value="UNK"/>
         <xs:enumeration value="OTH"/>
         <xs:enumeration value="MSK"/>
         <xs:enumeration value="UNC"/>
         <xs:enumeration value="NA"/>
         <xs:enumeration value="NAV"/>
         <xs:enumeration value="ASKU"/>
         <xs:enumeration value="NASK"/>
         <xs:enumeration value="INV"/>
         <xs:enumeration value="DER"/>
         <xs:enumeration value="NINF"/>
         <xs:enumeration value="PINF"/>
         <xs:enumeration value="QS"/>
         <xs:enumeration value="TRC"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="prio1_huidige_zwangerschap">
      <xs:sequence>
         <xs:element name="zorgverlenerzorginstelling"
                     minOccurs="1"
                     maxOccurs="1"
                     type="zorgverlenerzorginstelling">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Zorgverlener/Zorginstelling</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Persoon (met bijbehorende instelling) die verantwoordelijk of uitvoerder was voor de zorg van de patiënt en aanleveraar van de gegevens.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="vrouw" minOccurs="1" maxOccurs="1" type="vrouw">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Vrouw</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Vrouw die obstetrische zorgdiensten afneemt / heeft afgenomen.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zwangerschap"
                     minOccurs="1"
                     maxOccurs="1"
                     type="zwangerschap">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Zwangerschap</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">De al dan niet afgesloten zwangerschap waarop de gegevens betrekking hebben.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="medisch_onderzoek"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="medisch_onderzoek">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Medisch onderzoek</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="adaextension" type="adaextension">
            <xs:annotation>
               <xs:documentation>Optionele extensie informatie</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="transactionRef"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.4.2493"/>
      <xs:attribute name="transactionEffectiveDate"
                    type="xs:dateTime"
                    use="required"
                    fixed="2020-01-08T13:13:15"/>
      <xs:attribute name="versionDate" type="xs:dateTime" use="required"/>
      <xs:attribute name="prefix" type="xs:string" use="required"/>
   </xs:complexType>
   <xs:complexType name="zorgverlenerzorginstelling">
      <xs:sequence>
         <xs:element name="zorginstelling"
                     minOccurs="1"
                     maxOccurs="1"
                     type="zorginstelling">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Zorginstelling</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Organisatie (instelling) die de zorg levert / heeft geleverd</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="adaextension" type="adaextension">
            <xs:annotation>
               <xs:documentation>Optionele extensie informatie</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.1"/>
   </xs:complexType>
   <xs:complexType name="zorginstelling">
      <xs:sequence>
         <xs:element name="zorginstelling_oid"
                     minOccurs="0"
                     maxOccurs="1"
                     type="zorginstelling_oid">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Zorginstelling OID</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Identificatie van de instelling met behulp van een unieke root-OID (Object Identificatie). Dit gegeven wordt ingesteld in de software van de zorginstelling en dan automatisch meegegeven bij informatie-uitwisseling (met andere woorden: het is géén invulveld voor een zorgverlener).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zorginstelling_agbid"
                     minOccurs="0"
                     maxOccurs="1"
                     type="zorginstelling_agbid">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Zorginstelling AGB-ID</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Unieke AGB-ID van de instelling</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zorginstelling_lvrid"
                     minOccurs="0"
                     maxOccurs="1"
                     type="zorginstelling_lvrid">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Zorginstelling LVR-ID</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Unieke LVR-identificatie van de zorginstelling.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zorginstelling_ura"
                     minOccurs="0"
                     maxOccurs="1"
                     type="zorginstelling_ura">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Zorginstelling URA</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Unieke UZI-register abonneenummer van de instelling</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="naam_zorginstelling"
                     minOccurs="0"
                     maxOccurs="1"
                     type="naam_zorginstelling">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Naam zorginstelling</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Naam van de instelling</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="adres_zorginstelling"
                     minOccurs="0"
                     maxOccurs="1"
                     type="adres_zorginstelling">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Adres zorginstelling</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Adres van de instelling</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="type_zorginstelling"
                     minOccurs="0"
                     maxOccurs="1"
                     type="type_zorginstelling">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Type zorginstelling</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Aanduiding van het type van de zorginstelling</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="type_zorginstelling_bij_verwijzing"
                     minOccurs="0"
                     maxOccurs="1"
                     type="type_zorginstelling_bij_verwijzing">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Type zorginstelling (bij verwijzing)</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Type zorginstelling bij een verwijzing.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="adaextension" type="adaextension">
            <xs:annotation>
               <xs:documentation>Optionele extensie informatie</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10020"/>
   </xs:complexType>
   <xs:complexType name="zorginstelling_oid">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10021"/>
      <xs:attribute name="value" use="optional" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
      <xs:attribute name="root" use="optional"/>
   </xs:complexType>
   <xs:complexType name="zorginstelling_agbid">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10022"/>
      <xs:attribute name="value" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="8"/>
               <xs:maxLength value="8"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
      <xs:attribute name="root" use="optional"/>
   </xs:complexType>
   <xs:complexType name="zorginstelling_lvrid">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10023"/>
      <xs:attribute name="value" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="4"/>
               <xs:maxLength value="5"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
      <xs:attribute name="root" use="optional"/>
   </xs:complexType>
   <xs:complexType name="zorginstelling_ura">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10024"/>
      <xs:attribute name="value" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="8"/>
               <xs:maxLength value="8"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
      <xs:attribute name="root" use="optional"/>
   </xs:complexType>
   <xs:complexType name="naam_zorginstelling">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10026"/>
      <xs:attribute name="value" use="optional" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
      <xs:attribute name="root" use="optional"/>
   </xs:complexType>
   <xs:complexType name="adres_zorginstelling">
      <xs:sequence>
         <xs:element name="straatnaam" minOccurs="0" maxOccurs="1" type="straatnaam">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Straatnaam</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Straatnaam (zonder nummer) van het adres</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="huisnummer" minOccurs="0" maxOccurs="1" type="huisnummer">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Huisnummer</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Huisnummer van het adres. Het is verplicht indien de straatnaam ook wordt doorgegeven.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="huisletterhuisnummertoevoeging"
                     minOccurs="0"
                     maxOccurs="1"
                     type="huisletterhuisnummertoevoeging">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Huisletter/huisnummertoevoeging</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Huisletter/huisnummertoevoeging van het huisnummer</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="postcode" minOccurs="0" maxOccurs="1" type="postcode">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Postcode</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Postcode van het adres</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="plaatsnaam" minOccurs="0" maxOccurs="1" type="plaatsnaam">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Plaatsnaam</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Plaatsnaam als onderdeel van het adres; De naam van een stad, dorp of ander woongebied of bezorgcentrum. Merk op: dit is de woonplaats, niet de eventuele gemeente waartoe de woonplaats behoort. Voorbeeld: Haren, gemeente Groningen.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="gemeentenaam"
                     minOccurs="0"
                     maxOccurs="1"
                     type="gemeentenaam">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Gemeentenaam</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Gemeentenaam als onderdeel van het adres; In Nederland wordt dit element gebruikt om de gemeente door te geven (in andere landen kan een ander type administratieve eenheid binnen een staat/provincie gebruikt worden). De gemeente kan, maar hoeft niet, overeen te komen met de stad. Sommige gemeenten, bijvoorbeeld "Waterland", hebben een naam die geheel afwijkt van de steden die erin gelegen zijn.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="land" minOccurs="0" maxOccurs="1" type="land">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Land</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="adrestype" minOccurs="0" maxOccurs="1" type="adrestype">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Adrestype</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="adaextension" type="adaextension">
            <xs:annotation>
               <xs:documentation>Optionele extensie informatie</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10027"/>
   </xs:complexType>
   <xs:complexType name="straatnaam">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10032"/>
      <xs:attribute name="value" use="optional" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
      <xs:attribute name="root" use="optional"/>
   </xs:complexType>
   <xs:complexType name="huisnummer">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10033"/>
      <xs:attribute name="value" use="optional" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
      <xs:attribute name="root" use="optional"/>
   </xs:complexType>
   <xs:complexType name="huisletterhuisnummertoevoeging">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10034"/>
      <xs:attribute name="value" use="optional" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
      <xs:attribute name="root" use="optional"/>
   </xs:complexType>
   <xs:complexType name="postcode">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10041"/>
      <xs:attribute name="value" use="optional" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
      <xs:attribute name="root" use="optional"/>
   </xs:complexType>
   <xs:complexType name="plaatsnaam">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10036"/>
      <xs:attribute name="value" use="optional" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
      <xs:attribute name="root" use="optional"/>
   </xs:complexType>
   <xs:complexType name="gemeentenaam">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10037"/>
      <xs:attribute name="value" use="optional" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
      <xs:attribute name="root" use="optional"/>
   </xs:complexType>
   <xs:complexType name="land">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10038"/>
      <xs:attribute name="value" use="optional" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
      <xs:attribute name="root" use="optional"/>
   </xs:complexType>
   <xs:complexType name="adrestype">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10039"/>
      <!-- == *** No conceptList entries found for concept adrestype == -->
      <xs:attribute name="value" use="required" type="xs:string"/>
      <xs:attribute name="code" use="required" type="xs:string"/>
      <xs:attribute name="codeSystem" use="required" type="xs:string"/>
      <xs:attribute name="displayName" use="required" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
      <xs:attribute name="root" use="optional"/>
   </xs:complexType>
   <xs:complexType name="type_zorginstelling">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10029"/>
      <xs:attribute name="value" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Huisartsenpraktijk</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Verloskundigenpraktijk</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="3">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Ziekenhuis</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="4">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Echocentrum</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="5">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Laboratorium</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="code" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="Z3"/>
               <xs:enumeration value="G3"/>
               <xs:enumeration value="V4"/>
               <xs:enumeration value="B2"/>
               <xs:enumeration value="L1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="codeSystem" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="2.16.840.1.113883.2.4.15.1060"/>
               <xs:enumeration value="2.16.840.1.113883.2.4.15.1060"/>
               <xs:enumeration value="2.16.840.1.113883.2.4.15.1060"/>
               <xs:enumeration value="2.16.840.1.113883.2.4.15.1060"/>
               <xs:enumeration value="2.16.840.1.113883.2.4.15.1060"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" use="required" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
      <xs:attribute name="root" use="optional"/>
   </xs:complexType>
   <xs:complexType name="type_zorginstelling_bij_verwijzing">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.82019"/>
      <!-- == *** No conceptList entries found for concept type_zorginstelling_bij_verwijzing == -->
      <xs:attribute name="value" use="required" type="xs:string"/>
      <xs:attribute name="code" use="required" type="xs:string"/>
      <xs:attribute name="codeSystem" use="required" type="xs:string"/>
      <xs:attribute name="displayName" use="required" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
      <xs:attribute name="root" use="optional"/>
   </xs:complexType>
   <xs:complexType name="vrouw">
      <xs:sequence>
         <xs:element name="burgerservicenummer"
                     minOccurs="1"
                     maxOccurs="1"
                     type="burgerservicenummer">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Burgerservicenummer</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Het burgerservicenummer (BSN) is een uniek en persoonsgebonden identificerend nummer. Dit nummer wordt automatisch toegekend bij geboorte en wanneer iemand zich inschrijft bij de Basisregistratie personen (BRP).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="naamgegevens"
                     minOccurs="0"
                     maxOccurs="1"
                     type="naamgegevens">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Naamgegevens</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Naamgegevens van de vrouw.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="bloedgroep_vrouw"
                     minOccurs="0"
                     maxOccurs="1"
                     type="bloedgroep_vrouw">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Bloedgroep vrouw</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Bloedgroep van de vrouw</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="rhesus_d_factor_vrouw"
                     minOccurs="0"
                     maxOccurs="1"
                     type="rhesus_d_factor_vrouw">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Rhesus D Factor vrouw</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Rhesus D factor van de vrouw</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="rhesus_c_factor"
                     minOccurs="0"
                     maxOccurs="1"
                     type="rhesus_c_factor">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Rhesus c Factor</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Rhesus c factor van de vrouw</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="adaextension" type="adaextension">
            <xs:annotation>
               <xs:documentation>Optionele extensie informatie</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.2"/>
   </xs:complexType>
   <xs:complexType name="burgerservicenummer">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10030"/>
      <xs:attribute name="value" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="9"/>
               <xs:maxLength value="9"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
      <xs:attribute name="root" use="optional"/>
   </xs:complexType>
   <xs:complexType name="naamgegevens">
      <xs:sequence>
         <xs:element name="voornamen" minOccurs="0" maxOccurs="1" type="voornamen">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Voornamen</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">De verzameling officiële voornamen die bij de geboorte zijn vastgelegd.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="initialen" minOccurs="0" maxOccurs="1" type="initialen">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Initialen</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Voorletters gebaseerd op de voornamen van de persoon.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="roepnaam" minOccurs="0" maxOccurs="1" type="roepnaam">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Roepnaam</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Naam, die de persoon voert en die niet de officiële naam is.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="achternaam"
                     minOccurs="1"
                     maxOccurs="1"
                     type="achternaam_82361">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Achternaam</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="adaextension" type="adaextension">
            <xs:annotation>
               <xs:documentation>Optionele extensie informatie</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10035"/>
   </xs:complexType>
   <xs:complexType name="voornamen">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10042"/>
      <xs:attribute name="value" use="optional" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
      <xs:attribute name="root" use="optional"/>
   </xs:complexType>
   <xs:complexType name="initialen">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.82359"/>
      <xs:attribute name="value" use="optional" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
      <xs:attribute name="root" use="optional"/>
   </xs:complexType>
   <xs:complexType name="roepnaam">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.82360"/>
      <xs:attribute name="value" use="optional" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
      <xs:attribute name="root" use="optional"/>
   </xs:complexType>
   <xs:complexType name="achternaam_82361">
      <xs:sequence>
         <xs:element name="soort_naam" minOccurs="0" maxOccurs="1" type="soort_naam">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Soort naam</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Aanduiding die aangeeft welke functie de naam heeft.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="voorvoegsel"
                     minOccurs="0"
                     maxOccurs="1"
                     type="voorvoegsel">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Voorvoegsel</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Deel van de achternaam dat het voorvoegsel bevat.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="achternaam"
                     minOccurs="1"
                     maxOccurs="1"
                     type="achternaam_10043">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Achternaam</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">De achternaam van een persoon die bij de geboorte is vastgelegd. Afhankeljk van de soort naam is dit de geboortenaam van de persoon of van de partner</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="adaextension" type="adaextension">
            <xs:annotation>
               <xs:documentation>Optionele extensie informatie</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.82361"/>
   </xs:complexType>
   <xs:complexType name="soort_naam">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.82362"/>
      <xs:attribute name="value" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Geslachtsnaam</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Geslachtsnaam partner</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="code" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="BR"/>
               <xs:enumeration value="SP"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="codeSystem" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="2.16.840.1.113883.5.43"/>
               <xs:enumeration value="2.16.840.1.113883.5.43"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" use="required" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
      <xs:attribute name="root" use="optional"/>
   </xs:complexType>
   <xs:complexType name="voorvoegsel">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.82363"/>
      <xs:attribute name="value" use="optional" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
      <xs:attribute name="root" use="optional"/>
   </xs:complexType>
   <xs:complexType name="achternaam_10043">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10043"/>
      <xs:attribute name="value" use="optional" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
      <xs:attribute name="root" use="optional"/>
   </xs:complexType>
   <xs:complexType name="bloedgroep_vrouw">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10810"/>
      <xs:attribute name="value" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">A</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">B</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="3">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">AB</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="4">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">0</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="5">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Onbekend</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="6">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Geen informatie</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="code" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="112144000"/>
               <xs:enumeration value="112149005"/>
               <xs:enumeration value="165743006"/>
               <xs:enumeration value="58460004"/>
               <xs:enumeration value="UNK"/>
               <xs:enumeration value="NI"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="codeSystem" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="2.16.840.1.113883.6.96"/>
               <xs:enumeration value="2.16.840.1.113883.6.96"/>
               <xs:enumeration value="2.16.840.1.113883.6.96"/>
               <xs:enumeration value="2.16.840.1.113883.6.96"/>
               <xs:enumeration value="2.16.840.1.113883.5.1008"/>
               <xs:enumeration value="2.16.840.1.113883.5.1008"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" use="required" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
      <xs:attribute name="root" use="optional"/>
   </xs:complexType>
   <xs:complexType name="rhesus_d_factor_vrouw">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10811"/>
      <xs:attribute name="value" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Rh D Positief</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Rh D Negatief</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="3">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">onbekend</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="4">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">geen informatie</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="code" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="165747007"/>
               <xs:enumeration value="165746003"/>
               <xs:enumeration value="UNK"/>
               <xs:enumeration value="NI"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="codeSystem" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="2.16.840.1.113883.6.96"/>
               <xs:enumeration value="2.16.840.1.113883.6.96"/>
               <xs:enumeration value="2.16.840.1.113883.5.1008"/>
               <xs:enumeration value="2.16.840.1.113883.5.1008"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" use="required" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
      <xs:attribute name="root" use="optional"/>
   </xs:complexType>
   <xs:complexType name="rhesus_c_factor">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10816"/>
      <xs:attribute name="value" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Rh c Positief</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Rh c Negatief</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="3">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Geen informatie</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="code" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="733120009"/>
               <xs:enumeration value="733119003"/>
               <xs:enumeration value="NI"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="codeSystem" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="2.16.840.1.113883.6.96"/>
               <xs:enumeration value="2.16.840.1.113883.6.96"/>
               <xs:enumeration value="2.16.840.1.113883.5.1008"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" use="required" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
      <xs:attribute name="root" use="optional"/>
   </xs:complexType>
   <xs:complexType name="zwangerschap">
      <xs:sequence>
         <xs:element name="graviditeit"
                     minOccurs="1"
                     maxOccurs="1"
                     type="graviditeit">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Graviditeit</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Het aantal keren dat de vrouw zwanger is geworden (inclusief deze).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="pariteit" minOccurs="1" maxOccurs="1" type="pariteit">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Pariteit</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Aantal zwangerschappen die eindigden met een partus (&gt;= 16w 0d / 112 dagen)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="a_terme_datum_groep"
                     minOccurs="1"
                     maxOccurs="1"
                     type="a_terme_datum_groep">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">A terme datum (groep)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="adaextension" type="adaextension">
            <xs:annotation>
               <xs:documentation>Optionele extensie informatie</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.3"/>
   </xs:complexType>
   <xs:complexType name="graviditeit">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.20010"/>
      <xs:attribute name="value" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:decimal">
               <xs:minInclusive value="1"/>
               <xs:maxInclusive value="75"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
      <xs:attribute name="root" use="optional"/>
   </xs:complexType>
   <xs:complexType name="pariteit">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.20153"/>
      <xs:attribute name="value" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:decimal">
               <xs:minInclusive value="0"/>
               <xs:maxInclusive value="30"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
      <xs:attribute name="root" use="optional"/>
   </xs:complexType>
   <xs:complexType name="a_terme_datum_groep">
      <xs:sequence>
         <xs:element name="a_terme_datum"
                     minOccurs="1"
                     maxOccurs="1"
                     type="a_terme_datum">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">A terme datum</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Datum waarop de zwangerschap naar verwachting 40w 0d is (280 dagen). Op meerdere momenten in de zwangerschap kunnen verschillende à terme datum worden gehanteerd.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="adaextension" type="adaextension">
            <xs:annotation>
               <xs:documentation>Optionele extensie informatie</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.20029"/>
   </xs:complexType>
   <xs:complexType name="a_terme_datum">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.20030"/>
      <xs:attribute name="value" use="optional" type="t-datetime"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
      <xs:attribute name="root" use="optional"/>
   </xs:complexType>
   <xs:complexType name="medisch_onderzoek">
      <xs:sequence>
         <xs:element name="datum_onderzoek"
                     minOccurs="1"
                     maxOccurs="1"
                     type="datum_onderzoek">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Datum onderzoek</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Datum waarop het onderzoek heeft plaatsgevonden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="maternale_onderzoeksgegevens"
                     minOccurs="1"
                     maxOccurs="1"
                     type="maternale_onderzoeksgegevens">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Maternale onderzoeksgegevens</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="adaextension" type="adaextension">
            <xs:annotation>
               <xs:documentation>Optionele extensie informatie</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.14"/>
   </xs:complexType>
   <xs:complexType name="datum_onderzoek">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.50020"/>
      <xs:attribute name="value" use="optional" type="t-datetime"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
      <xs:attribute name="root" use="optional"/>
   </xs:complexType>
   <xs:complexType name="maternale_onderzoeksgegevens">
      <xs:sequence>
         <xs:element name="urine_bloed_en_aanvullende_onderzoeken"
                     minOccurs="1"
                     maxOccurs="1"
                     type="urine_bloed_en_aanvullende_onderzoeken">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Urine-, bloed- en aanvullende onderzoeken</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Urine-, bloed- en aanvullende onderzoekenHet gaat hier zowel om onderzoeken van bloed, urine en/of een ander monster door het laboratorium, als om onderzoeken die door de zorgverlener of patiënt 'zelf' worden gedaan. Voorbeelden van deze 'zelf'-bepalingen zijn: glucose, Hb en proteïne op basis van strips.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="adaextension" type="adaextension">
            <xs:annotation>
               <xs:documentation>Optionele extensie informatie</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.142"/>
   </xs:complexType>
   <xs:complexType name="urine_bloed_en_aanvullende_onderzoeken">
      <xs:sequence>
         <xs:element name="hb" minOccurs="1" maxOccurs="1" type="hb">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Hb</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Hb waarde</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="adaextension" type="adaextension">
            <xs:annotation>
               <xs:documentation>Optionele extensie informatie</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.80959"/>
   </xs:complexType>
   <xs:complexType name="hb">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10814"/>
      <xs:attribute name="value" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:decimal">
               <xs:minInclusive value="0"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="unit" type="xs:string" use="required" fixed="mmol/L"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
      <xs:attribute name="root" use="optional"/>
   </xs:complexType>
   <xs:complexType name="adaextension">
      <xs:sequence>
         <xs:any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##any" processContents="skip"/>
   </xs:complexType>
</xs:schema>
