ada-lite/schemas-simple-lite/prio1-huidig.simple.lite.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
<!--
MIT License

Copyright (c) 2019 Marc de Graauw and Erik Siegel

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->
   <xs:annotation>
      <xs:documentation xml:lang="nl-NL">Schema for ADA documents prio1_huidig - Lite version</xs:documentation>
      <xs:documentation xml:lang="nl-NL">Source: design/specs-full/prio1-huidig.xml</xs:documentation>
      <xs:documentation xml:lang="nl-NL">Generator: design/xsl/ada-rtd2ada-schema-simple.xsl</xs:documentation>
      <xs:appinfo source="shortname">prio1_huidig</xs:appinfo>
      <xs:appinfo source="source">design/specs-full/prio1-huidig.xml</xs:appinfo>
      <xs:appinfo source="lite-or-full">Lite</xs:appinfo>
      <xs:appinfo source="generator">design/xsl/ada-rtd2ada-schema-simple.xsl</xs:appinfo>
   </xs:annotation>
   <xs:element name="prio1_huidig">
      <xs:annotation>
         <xs:documentation source="name" xml:lang="nl-NL">Prio1 huidig</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="zorgverlenerzorginstelling" minOccurs="0" maxOccurs="1">
               <xs:annotation>
                  <xs:documentation source="name" xml:lang="nl-NL">Zorgverlener/Zorginstelling</xs:documentation>
                  <xs:documentation source="desc" xml:lang="nl-NL">Persoon (met bijbehorende instelling) die verantwoordelijk of uitvoerder was voor de zorg van de patiënt en aanleveraar van de gegevens.</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="zorgverlener" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                           <xs:documentation source="name" xml:lang="nl-NL">Zorgverlener</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="naam_zorgverlener" minOccurs="0" maxOccurs="1">
                                 <xs:annotation>
                                    <xs:documentation source="name" xml:lang="nl-NL">Naam zorgverlener</xs:documentation>
                                 </xs:annotation>
                                 <xs:complexType>
                                    <xs:attribute name="conceptId"
                                                  type="t-id"
                                                  use="optional"
                                                  fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10006"/>
                                    <xs:attribute name="value" use="required" type="xs:string"/>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element minOccurs="0" name="adaextension">
                                 <xs:annotation>
                                    <xs:documentation>Optionele extensie informatie</xs:documentation>
                                 </xs:annotation>
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
                                    </xs:sequence>
                                    <xs:anyAttribute namespace="##any" processContents="skip"/>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="conceptId"
                                         type="t-id"
                                         use="optional"
                                         fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10001"/>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="zorginstelling" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                           <xs:documentation source="name" xml:lang="nl-NL">Zorginstelling</xs:documentation>
                           <xs:documentation source="desc" xml:lang="nl-NL">Organisatie (instelling) die de zorg levert / heeft geleverd</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="naam_zorginstelling" minOccurs="1" maxOccurs="1">
                                 <xs:annotation>
                                    <xs:documentation source="name" xml:lang="nl-NL">Naam zorginstelling</xs:documentation>
                                    <xs:documentation source="desc" xml:lang="nl-NL">Naam van de instelling</xs:documentation>
                                 </xs:annotation>
                                 <xs:complexType>
                                    <xs:attribute name="conceptId"
                                                  type="t-id"
                                                  use="optional"
                                                  fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10026"/>
                                    <xs:attribute name="value" use="required" type="xs:string"/>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element minOccurs="0" name="adaextension">
                                 <xs:annotation>
                                    <xs:documentation>Optionele extensie informatie</xs:documentation>
                                 </xs:annotation>
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
                                    </xs:sequence>
                                    <xs:anyAttribute namespace="##any" processContents="skip"/>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="conceptId"
                                         type="t-id"
                                         use="optional"
                                         fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10020"/>
                        </xs:complexType>
                     </xs:element>
                     <xs:element minOccurs="0" name="adaextension">
                        <xs:annotation>
                           <xs:documentation>Optionele extensie informatie</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:sequence>
                              <xs:any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
                           </xs:sequence>
                           <xs:anyAttribute namespace="##any" processContents="skip"/>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="conceptId"
                                type="t-id"
                                use="optional"
                                fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.1"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="vrouw" minOccurs="1" maxOccurs="1">
               <xs:annotation>
                  <xs:documentation source="name" xml:lang="nl-NL">Vrouw</xs:documentation>
                  <xs:documentation source="desc" xml:lang="nl-NL">Vrouw die obstetrische zorgdiensten afneemt / heeft afgenomen.</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="burgerservicenummer" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                           <xs:documentation source="name" xml:lang="nl-NL">Burgerservicenummer</xs:documentation>
                           <xs:documentation source="desc" xml:lang="nl-NL">Uniek identificatienummer voor iedereen die een meervoudige relatie met de Nederlandse overheid heeft, goed te identificeren is en opgenomen is in de Gemeentelijke Basisadministratie Persoonsgegevens (GBA) of in de Registratie Niet Ingezetenen (RNI).</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:attribute name="conceptId"
                                         type="t-id"
                                         use="optional"
                                         fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10030"/>
                           <xs:attribute name="value" use="required">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:minLength value="9"/>
                                    <xs:maxLength value="9"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="naamgegevens" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                           <xs:documentation source="name" xml:lang="nl-NL">Naamgegevens</xs:documentation>
                           <xs:documentation source="desc" xml:lang="nl-NL">Naamgegevens van de vrouw.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="roepnaam" minOccurs="0" maxOccurs="1">
                                 <xs:annotation>
                                    <xs:documentation source="name" xml:lang="nl-NL">Roepnaam</xs:documentation>
                                    <xs:documentation source="desc" xml:lang="nl-NL">Naam, die de persoon voert en die niet de officiële naam is.</xs:documentation>
                                 </xs:annotation>
                                 <xs:complexType>
                                    <xs:attribute name="conceptId"
                                                  type="t-id"
                                                  use="optional"
                                                  fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.82360"/>
                                    <xs:attribute name="value" use="required" type="xs:string"/>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="achternaam" minOccurs="0" maxOccurs="1">
                                 <xs:annotation>
                                    <xs:documentation source="name" xml:lang="nl-NL">Achternaam</xs:documentation>
                                 </xs:annotation>
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element name="soort_naam" minOccurs="0" maxOccurs="1">
                                          <xs:annotation>
                                             <xs:documentation source="name" xml:lang="nl-NL">Soort naam</xs:documentation>
                                             <xs:documentation source="desc" xml:lang="nl-NL">Aanduiding die aangeeft welke functie de naam heeft.</xs:documentation>
                                          </xs:annotation>
                                          <xs:complexType>
                                             <xs:attribute name="conceptId"
                                                           type="t-id"
                                                           use="optional"
                                                           fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.82362"/>
                                             <xs:attribute name="value" use="optional">
                                                <xs:simpleType>
                                                   <xs:restriction base="xs:string">
                                                      <xs:enumeration value="BR">
                                                         <xs:annotation>
                                                            <xs:documentation source="name" xml:lang="nl-NL">Geslachtsnaam</xs:documentation>
                                                         </xs:annotation>
                                                      </xs:enumeration>
                                                      <xs:enumeration value="SP">
                                                         <xs:annotation>
                                                            <xs:documentation source="name" xml:lang="nl-NL">Geslachtsnaam partner</xs:documentation>
                                                         </xs:annotation>
                                                      </xs:enumeration>
                                                   </xs:restriction>
                                                </xs:simpleType>
                                             </xs:attribute>
                                             <xs:attribute name="code" use="optional">
                                                <xs:simpleType>
                                                   <xs:restriction base="xs:string">
                                                      <xs:enumeration value="BR"/>
                                                      <xs:enumeration value="SP"/>
                                                   </xs:restriction>
                                                </xs:simpleType>
                                             </xs:attribute>
                                             <xs:attribute name="codeSystem" use="optional">
                                                <xs:simpleType>
                                                   <xs:restriction base="xs:string">
                                                      <xs:enumeration value="2.16.840.1.113883.5.43"/>
                                                      <xs:enumeration value="2.16.840.1.113883.5.43"/>
                                                   </xs:restriction>
                                                </xs:simpleType>
                                             </xs:attribute>
                                             <xs:attribute name="displayName" use="optional">
                                                <xs:simpleType>
                                                   <xs:restriction base="xs:string">
                                                      <xs:enumeration value="Geslachtsnaam"/>
                                                      <xs:enumeration value="Geslachtsnaam partner"/>
                                                   </xs:restriction>
                                                </xs:simpleType>
                                             </xs:attribute>
                                             <xs:attribute name="enum" use="optional">
                                                <xs:simpleType>
                                                   <xs:restriction base="xs:string">
                                                      <xs:enumeration value="Geslachtsnaam">
                                                         <xs:annotation>
                                                            <xs:documentation source="name" xml:lang="nl-NL">Geslachtsnaam</xs:documentation>
                                                         </xs:annotation>
                                                      </xs:enumeration>
                                                      <xs:enumeration value="Geslachtsnaam_partner">
                                                         <xs:annotation>
                                                            <xs:documentation source="name" xml:lang="nl-NL">Geslachtsnaam partner</xs:documentation>
                                                         </xs:annotation>
                                                      </xs:enumeration>
                                                   </xs:restriction>
                                                </xs:simpleType>
                                             </xs:attribute>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element name="voorvoegsel" minOccurs="0" maxOccurs="1">
                                          <xs:annotation>
                                             <xs:documentation source="name" xml:lang="nl-NL">Voorvoegsel</xs:documentation>
                                             <xs:documentation source="desc" xml:lang="nl-NL">Deel van de achternaam dat het voorvoegsel bevat.</xs:documentation>
                                          </xs:annotation>
                                          <xs:complexType>
                                             <xs:attribute name="conceptId"
                                                           type="t-id"
                                                           use="optional"
                                                           fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.82363"/>
                                             <xs:attribute name="value" use="required" type="xs:string"/>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element name="achternaam" minOccurs="0" maxOccurs="1">
                                          <xs:annotation>
                                             <xs:documentation source="name" xml:lang="nl-NL">Achternaam</xs:documentation>
                                             <xs:documentation source="desc" xml:lang="nl-NL">De achternaam van een persoon die bij de geboorte is vastgelegd. Afhankeljk van de soort naam is dit de geboortenaam van de persoon of van de partner</xs:documentation>
                                          </xs:annotation>
                                          <xs:complexType>
                                             <xs:attribute name="conceptId"
                                                           type="t-id"
                                                           use="optional"
                                                           fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10043"/>
                                             <xs:attribute name="value" use="required" type="xs:string"/>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element minOccurs="0" name="adaextension">
                                          <xs:annotation>
                                             <xs:documentation>Optionele extensie informatie</xs:documentation>
                                          </xs:annotation>
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
                                             </xs:sequence>
                                             <xs:anyAttribute namespace="##any" processContents="skip"/>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="conceptId"
                                                  type="t-id"
                                                  use="optional"
                                                  fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.82361"/>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element minOccurs="0" name="adaextension">
                                 <xs:annotation>
                                    <xs:documentation>Optionele extensie informatie</xs:documentation>
                                 </xs:annotation>
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
                                    </xs:sequence>
                                    <xs:anyAttribute namespace="##any" processContents="skip"/>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="conceptId"
                                         type="t-id"
                                         use="optional"
                                         fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10035"/>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="anamnese" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                           <xs:documentation source="name" xml:lang="nl-NL">Anamnese</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element minOccurs="0" name="adaextension">
                                 <xs:annotation>
                                    <xs:documentation>Optionele extensie informatie</xs:documentation>
                                 </xs:annotation>
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
                                    </xs:sequence>
                                    <xs:anyAttribute namespace="##any" processContents="skip"/>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="conceptId"
                                         type="t-id"
                                         use="optional"
                                         fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.80811"/>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="bloedgroep_vrouw" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                           <xs:documentation source="name" xml:lang="nl-NL">Bloedgroep vrouw</xs:documentation>
                           <xs:documentation source="desc" xml:lang="nl-NL">Bloedgroep van de vrouw</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:attribute name="conceptId"
                                         type="t-id"
                                         use="optional"
                                         fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10810"/>
                           <xs:attribute name="value" use="optional">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:enumeration value="112144000">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">A</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="112149005">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">B</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="165743006">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">AB</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="58460004">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">0</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="UNK">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">Onbekend</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="NI">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">Geen informatie</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                           <xs:attribute name="code" use="optional">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:enumeration value="112144000"/>
                                    <xs:enumeration value="112149005"/>
                                    <xs:enumeration value="165743006"/>
                                    <xs:enumeration value="58460004"/>
                                    <xs:enumeration value="UNK"/>
                                    <xs:enumeration value="NI"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                           <xs:attribute name="codeSystem" use="optional">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:enumeration value="2.16.840.1.113883.6.96"/>
                                    <xs:enumeration value="2.16.840.1.113883.6.96"/>
                                    <xs:enumeration value="2.16.840.1.113883.6.96"/>
                                    <xs:enumeration value="2.16.840.1.113883.6.96"/>
                                    <xs:enumeration value="2.16.840.1.113883.5.1008"/>
                                    <xs:enumeration value="2.16.840.1.113883.5.1008"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                           <xs:attribute name="displayName" use="optional">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:enumeration value="Blood group A (finding)"/>
                                    <xs:enumeration value="Blood group B (finding)"/>
                                    <xs:enumeration value="Blood group AB (finding)"/>
                                    <xs:enumeration value="Blood group O (finding)"/>
                                    <xs:enumeration value="Onbekend"/>
                                    <xs:enumeration value="Geen informatie"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                           <xs:attribute name="enum" use="optional">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:enumeration value="Blood_group_A_(finding)">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">A</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="Blood_group_B_(finding)">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">B</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="Blood_group_AB_(finding)">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">AB</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="Blood_group_O_(finding)">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">0</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="Onbekend">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">Onbekend</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="Geen_informatie">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">Geen informatie</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="rhesus_d_factor_vrouw" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                           <xs:documentation source="name" xml:lang="nl-NL">Rhesus D Factor vrouw</xs:documentation>
                           <xs:documentation source="desc" xml:lang="nl-NL">Rhesus D factor van de vrouw</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:attribute name="conceptId"
                                         type="t-id"
                                         use="optional"
                                         fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10811"/>
                           <xs:attribute name="value" use="optional">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:enumeration value="165747007">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">Rh D Positief</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="165746003">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">Rh D Negatief</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="UNK">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">onbekend</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="NI">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">geen informatie</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                           <xs:attribute name="code" use="optional">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:enumeration value="165747007"/>
                                    <xs:enumeration value="165746003"/>
                                    <xs:enumeration value="UNK"/>
                                    <xs:enumeration value="NI"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                           <xs:attribute name="codeSystem" use="optional">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:enumeration value="2.16.840.1.113883.6.96"/>
                                    <xs:enumeration value="2.16.840.1.113883.6.96"/>
                                    <xs:enumeration value="2.16.840.1.113883.5.1008"/>
                                    <xs:enumeration value="2.16.840.1.113883.5.1008"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                           <xs:attribute name="displayName" use="optional">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:enumeration value="Rh D Positief"/>
                                    <xs:enumeration value="Rh D Negatief"/>
                                    <xs:enumeration value="onbekend"/>
                                    <xs:enumeration value="geen informatie"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                           <xs:attribute name="enum" use="optional">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:enumeration value="Rh_D_Positief">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">Rh D Positief</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="Rh_D_Negatief">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">Rh D Negatief</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="onbekend">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">onbekend</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="geen_informatie">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">geen informatie</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="rhesus_c_factor" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                           <xs:documentation source="name" xml:lang="nl-NL">Rhesus c Factor</xs:documentation>
                           <xs:documentation source="desc" xml:lang="nl-NL">Rhesus c factor van de vrouw</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:attribute name="conceptId"
                                         type="t-id"
                                         use="optional"
                                         fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10816"/>
                           <xs:attribute name="value" use="optional">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:enumeration value="733120009">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">Rh c Positief</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="733119003">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">Rh c Negatief</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="NI">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">Geen informatie</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                           <xs:attribute name="code" use="optional">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:enumeration value="733120009"/>
                                    <xs:enumeration value="733119003"/>
                                    <xs:enumeration value="NI"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                           <xs:attribute name="codeSystem" use="optional">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:enumeration value="2.16.840.1.113883.6.96"/>
                                    <xs:enumeration value="2.16.840.1.113883.6.96"/>
                                    <xs:enumeration value="2.16.840.1.113883.5.1008"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                           <xs:attribute name="displayName" use="optional">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:enumeration value="Rhc positive (finding)"/>
                                    <xs:enumeration value="Rhc negative (finding)"/>
                                    <xs:enumeration value="Geen informatie"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                           <xs:attribute name="enum" use="optional">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:enumeration value="Rhc_positive_(finding)">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">Rh c Positief</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="Rhc_negative_(finding)">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">Rh c Negatief</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="Geen_informatie">
                                       <xs:annotation>
                                          <xs:documentation source="name" xml:lang="nl-NL">Geen informatie</xs:documentation>
                                       </xs:annotation>
                                    </xs:enumeration>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                        </xs:complexType>
                     </xs:element>
                     <xs:element minOccurs="0" name="adaextension">
                        <xs:annotation>
                           <xs:documentation>Optionele extensie informatie</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:sequence>
                              <xs:any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
                           </xs:sequence>
                           <xs:anyAttribute namespace="##any" processContents="skip"/>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="conceptId"
                                type="t-id"
                                use="optional"
                                fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.2"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="zwangerschap" minOccurs="0" maxOccurs="1">
               <xs:annotation>
                  <xs:documentation source="name" xml:lang="nl-NL">Zwangerschap</xs:documentation>
                  <xs:documentation source="desc" xml:lang="nl-NL">De al dan niet afgesloten zwangerschap waarop de gegevens betrekking hebben.</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="graviditeit" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                           <xs:documentation source="name" xml:lang="nl-NL">Graviditeit</xs:documentation>
                           <xs:documentation source="desc" xml:lang="nl-NL">Het aantal keren dat de vrouw zwanger is geworden (inclusief deze).</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:attribute name="conceptId"
                                         type="t-id"
                                         use="optional"
                                         fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.20010"/>
                           <xs:attribute name="value" use="required">
                              <xs:simpleType>
                                 <xs:restriction base="xs:decimal">
                                    <xs:minInclusive value="1"/>
                                    <xs:maxInclusive value="75"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="pariteit" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                           <xs:documentation source="name" xml:lang="nl-NL">Pariteit</xs:documentation>
                           <xs:documentation source="desc" xml:lang="nl-NL">Aantal zwangerschappen die eindigden met een partus (&gt;= 16w 0d / 112 dagen)</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:attribute name="conceptId"
                                         type="t-id"
                                         use="optional"
                                         fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.20153"/>
                           <xs:attribute name="value" use="required">
                              <xs:simpleType>
                                 <xs:restriction base="xs:decimal">
                                    <xs:minInclusive value="0"/>
                                    <xs:maxInclusive value="30"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                        </xs:complexType>
                     </xs:element>
                     <xs:element minOccurs="0" name="adaextension">
                        <xs:annotation>
                           <xs:documentation>Optionele extensie informatie</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:sequence>
                              <xs:any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
                           </xs:sequence>
                           <xs:anyAttribute namespace="##any" processContents="skip"/>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="conceptId"
                                type="t-id"
                                use="optional"
                                fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.3"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="medisch_onderzoek" minOccurs="0" maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation source="name" xml:lang="nl-NL">Medisch onderzoek</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="maternale_onderzoeksgegevens" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                           <xs:documentation source="name" xml:lang="nl-NL">Maternale onderzoeksgegevens</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="urine_bloed_en_aanvullende_onderzoeken"
                                          minOccurs="0"
                                          maxOccurs="1">
                                 <xs:annotation>
                                    <xs:documentation source="name" xml:lang="nl-NL">Urine-, bloed- en aanvullende onderzoeken</xs:documentation>
                                    <xs:documentation source="desc" xml:lang="nl-NL">Urine-, bloed- en aanvullende onderzoeken Het gaat hier zowel om onderzoeken van bloed, urine en/of een ander monster door het laboratorium, als om onderzoeken die door de zorgverlener of patiënt 'zelf' worden gedaan. Voorbeelden van deze 'zelf'-bepalingen zijn: glucose, Hb en proteïne op basis van strips.</xs:documentation>
                                 </xs:annotation>
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element name="hb" minOccurs="0" maxOccurs="1">
                                          <xs:annotation>
                                             <xs:documentation source="name" xml:lang="nl-NL">Hb</xs:documentation>
                                             <xs:documentation source="desc" xml:lang="nl-NL">Hb waarde</xs:documentation>
                                          </xs:annotation>
                                          <xs:complexType>
                                             <xs:attribute name="conceptId"
                                                           type="t-id"
                                                           use="optional"
                                                           fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.10814"/>
                                             <xs:attribute name="value" use="required">
                                                <xs:simpleType>
                                                   <xs:restriction base="xs:decimal">
                                                      <xs:minInclusive value="0"/>
                                                   </xs:restriction>
                                                </xs:simpleType>
                                             </xs:attribute>
                                             <xs:attribute name="unit" type="xs:string" use="optional" fixed="mmol/L"/>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element minOccurs="0" name="adaextension">
                                          <xs:annotation>
                                             <xs:documentation>Optionele extensie informatie</xs:documentation>
                                          </xs:annotation>
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
                                             </xs:sequence>
                                             <xs:anyAttribute namespace="##any" processContents="skip"/>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="conceptId"
                                                  type="t-id"
                                                  use="optional"
                                                  fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.80959"/>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element minOccurs="0" name="adaextension">
                                 <xs:annotation>
                                    <xs:documentation>Optionele extensie informatie</xs:documentation>
                                 </xs:annotation>
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
                                    </xs:sequence>
                                    <xs:anyAttribute namespace="##any" processContents="skip"/>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="conceptId"
                                         type="t-id"
                                         use="optional"
                                         fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.142"/>
                        </xs:complexType>
                     </xs:element>
                     <xs:element minOccurs="0" name="adaextension">
                        <xs:annotation>
                           <xs:documentation>Optionele extensie informatie</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:sequence>
                              <xs:any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
                           </xs:sequence>
                           <xs:anyAttribute namespace="##any" processContents="skip"/>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="conceptId"
                                type="t-id"
                                use="optional"
                                fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.5.14"/>
               </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="adaextension">
               <xs:annotation>
                  <xs:documentation>Optionele extensie informatie</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
                  </xs:sequence>
                  <xs:anyAttribute namespace="##any" processContents="skip"/>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
         <xs:attribute name="transactionRef"
                       type="t-id"
                       use="required"
                       fixed="2.16.840.1.113883.2.4.3.11.60.90.77.4.2453"/>
         <xs:attribute name="transactionEffectiveDate"
                       type="xs:dateTime"
                       use="optional"
                       fixed="2018-12-17T15:21:25"/>
         <xs:attribute name="versionDate" type="xs:dateTime" use="optional"/>
         <xs:attribute name="prefix" type="xs:string" use="optional"/>
      </xs:complexType>
   </xs:element>
   <xs:simpleType name="t-id">
      <xs:annotation>
         <xs:documentation>An identifier in an ADA transaction</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:pattern value="([0-9]+\.)+([0-9]+)"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
