ada-lite/schemas-simple-lite/prio1-vorig.simple.lite.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
<!--
MIT License

Copyright (c) 2019 Marc de Graauw and Erik Siegel

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->
   <xs:annotation>
      <xs:documentation xml:lang="nl-NL">Schema for ADA documents prio1_vorige_zwangerschap - Lite version</xs:documentation>
      <xs:documentation xml:lang="nl-NL">Source: design/specs-full/prio1-vorig.xml</xs:documentation>
      <xs:documentation xml:lang="nl-NL">Generator: design/xsl/ada-rtd2ada-schema-simple.xsl</xs:documentation>
      <xs:appinfo source="shortname">prio1_vorige_zwangerschap</xs:appinfo>
      <xs:appinfo source="source">design/specs-full/prio1-vorig.xml</xs:appinfo>
      <xs:appinfo source="lite-or-full">Lite</xs:appinfo>
      <xs:appinfo source="generator">design/xsl/ada-rtd2ada-schema-simple.xsl</xs:appinfo>
   </xs:annotation>
   <xs:element name="prio1_vorige_zwangerschap" type="prio1_vorige_zwangerschap">
      <xs:annotation>
         <xs:documentation source="name" xml:lang="nl-NL">Prio1 vorige zwangerschap</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:simpleType name="t-id">
      <xs:annotation>
         <xs:documentation>An identifier in an ADA transaction</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:pattern value="([0-9]+\.)+([0-9]+)"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="t-datetime">
      <xs:union memberTypes="xs:date xs:dateTime"/>
   </xs:simpleType>
   <xs:complexType name="prio1_vorige_zwangerschap">
      <xs:sequence>
         <xs:element name="zorgverlenerzorginstelling"
                     minOccurs="1"
                     maxOccurs="1"
                     type="zorgverlenerzorginstelling">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Zorgverlener/Zorginstelling</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Persoon (met bijbehorende instelling) die verantwoordelijk of uitvoerder was voor de zorg van de patiënt en aanleveraar van de gegevens.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="vrouw" minOccurs="1" maxOccurs="1" type="vrouw">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Vrouw</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Vrouw die obstetrische zorgdiensten afneemt / heeft afgenomen.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zwangerschap"
                     minOccurs="0"
                     maxOccurs="1"
                     type="zwangerschap">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Zwangerschap</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">De al dan niet afgesloten zwangerschap waarop de gegevens betrekking hebben.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="bevalling" minOccurs="0" maxOccurs="1" type="bevalling">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Bevalling</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Gegevens over de partus</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="uitkomst_per_kind"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="uitkomst_per_kind">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Uitkomst (per kind)</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Groepering om de gegevens van elke uitkomst (kind) samen te vatten.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="adaextension" type="adaextension">
            <xs:annotation>
               <xs:documentation>Optionele extensie informatie</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="transactionRef"
                    type="t-id"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.4.2499"/>
      <xs:attribute name="transactionEffectiveDate"
                    type="xs:dateTime"
                    use="optional"
                    fixed="2020-01-08T13:47:27"/>
      <xs:attribute name="versionDate" type="xs:dateTime" use="optional"/>
      <xs:attribute name="prefix" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="zorgverlenerzorginstelling">
      <xs:sequence>
         <xs:element name="zorginstelling"
                     minOccurs="1"
                     maxOccurs="1"
                     type="zorginstelling">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Zorginstelling</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Organisatie (instelling) die de zorg levert / heeft geleverd</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="adaextension" type="adaextension">
            <xs:annotation>
               <xs:documentation>Optionele extensie informatie</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.1"/>
   </xs:complexType>
   <xs:complexType name="zorginstelling">
      <xs:sequence>
         <xs:element name="zorginstelling_oid"
                     minOccurs="0"
                     maxOccurs="1"
                     type="zorginstelling_oid">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Zorginstelling OID</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Identificatie van de instelling met behulp van een unieke root-OID (Object Identificatie). Dit gegeven wordt ingesteld in de software van de zorginstelling en dan automatisch meegegeven bij informatie-uitwisseling (met andere woorden: het is géén invulveld voor een zorgverlener).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zorginstelling_agbid"
                     minOccurs="0"
                     maxOccurs="1"
                     type="zorginstelling_agbid">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Zorginstelling AGB-ID</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Unieke AGB-ID van de instelling</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zorginstelling_lvrid"
                     minOccurs="0"
                     maxOccurs="1"
                     type="zorginstelling_lvrid">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Zorginstelling LVR-ID</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Unieke LVR-identificatie van de zorginstelling.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zorginstelling_ura"
                     minOccurs="0"
                     maxOccurs="1"
                     type="zorginstelling_ura">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Zorginstelling URA</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Unieke UZI-register abonneenummer van de instelling</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="naam_zorginstelling"
                     minOccurs="0"
                     maxOccurs="1"
                     type="naam_zorginstelling">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Naam zorginstelling</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Naam van de instelling</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="adres_zorginstelling"
                     minOccurs="0"
                     maxOccurs="1"
                     type="adres_zorginstelling">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Adres zorginstelling</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Adres van de instelling</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="type_zorginstelling"
                     minOccurs="0"
                     maxOccurs="1"
                     type="type_zorginstelling">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Type zorginstelling</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Aanduiding van het type van de zorginstelling</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="type_zorginstelling_bij_verwijzing"
                     minOccurs="0"
                     maxOccurs="1"
                     type="type_zorginstelling_bij_verwijzing">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Type zorginstelling (bij verwijzing)</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Type zorginstelling bij een verwijzing.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="adaextension" type="adaextension">
            <xs:annotation>
               <xs:documentation>Optionele extensie informatie</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10020"/>
   </xs:complexType>
   <xs:complexType name="zorginstelling_oid">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10021"/>
      <xs:attribute name="value" use="required" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="zorginstelling_agbid">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10022"/>
      <xs:attribute name="value" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="8"/>
               <xs:maxLength value="8"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="zorginstelling_lvrid">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10023"/>
      <xs:attribute name="value" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="4"/>
               <xs:maxLength value="5"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="zorginstelling_ura">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10024"/>
      <xs:attribute name="value" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="8"/>
               <xs:maxLength value="8"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="naam_zorginstelling">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10026"/>
      <xs:attribute name="value" use="required" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="adres_zorginstelling">
      <xs:sequence>
         <xs:element name="straatnaam" minOccurs="0" maxOccurs="1" type="straatnaam">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Straatnaam</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Straatnaam (zonder nummer) van het adres</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="huisnummer" minOccurs="0" maxOccurs="1" type="huisnummer">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Huisnummer</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Huisnummer van het adres. Het is verplicht indien de straatnaam ook wordt doorgegeven.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="huisletterhuisnummertoevoeging"
                     minOccurs="0"
                     maxOccurs="1"
                     type="huisletterhuisnummertoevoeging">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Huisletter/huisnummertoevoeging</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Huisletter/huisnummertoevoeging van het huisnummer</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="postcode" minOccurs="0" maxOccurs="1" type="postcode">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Postcode</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Postcode van het adres</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="plaatsnaam" minOccurs="0" maxOccurs="1" type="plaatsnaam">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Plaatsnaam</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Plaatsnaam als onderdeel van het adres; De naam van een stad, dorp of ander woongebied of bezorgcentrum. Merk op: dit is de woonplaats, niet de eventuele gemeente waartoe de woonplaats behoort. Voorbeeld: Haren, gemeente Groningen.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="gemeentenaam"
                     minOccurs="0"
                     maxOccurs="1"
                     type="gemeentenaam">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Gemeentenaam</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Gemeentenaam als onderdeel van het adres; In Nederland wordt dit element gebruikt om de gemeente door te geven (in andere landen kan een ander type administratieve eenheid binnen een staat/provincie gebruikt worden). De gemeente kan, maar hoeft niet, overeen te komen met de stad. Sommige gemeenten, bijvoorbeeld "Waterland", hebben een naam die geheel afwijkt van de steden die erin gelegen zijn.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="land" minOccurs="0" maxOccurs="1" type="land">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Land</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="adrestype" minOccurs="0" maxOccurs="1" type="adrestype">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Adrestype</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="adaextension" type="adaextension">
            <xs:annotation>
               <xs:documentation>Optionele extensie informatie</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10027"/>
   </xs:complexType>
   <xs:complexType name="straatnaam">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10032"/>
      <xs:attribute name="value" use="required" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="huisnummer">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10033"/>
      <xs:attribute name="value" use="required" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="huisletterhuisnummertoevoeging">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10034"/>
      <xs:attribute name="value" use="required" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="postcode">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10041"/>
      <xs:attribute name="value" use="required" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="plaatsnaam">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10036"/>
      <xs:attribute name="value" use="required" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="gemeentenaam">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10037"/>
      <xs:attribute name="value" use="required" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="land">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10038"/>
      <xs:attribute name="value" use="required" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="adrestype">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10039"/>
      <!-- == *** No conceptList entries found for concept adrestype == -->
      <xs:attribute name="value" use="optional" type="xs:string"/>
      <xs:attribute name="code" use="optional" type="xs:string"/>
      <xs:attribute name="codeSystem" use="optional" type="xs:string"/>
      <xs:attribute name="displayName" use="optional" type="xs:string"/>
      <xs:attribute name="enum" use="optional" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="type_zorginstelling">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10029"/>
      <xs:attribute name="value" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="Z3">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Huisartsenpraktijk</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="G3">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Verloskundigenpraktijk</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="V4">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Ziekenhuis</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="B2">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Echocentrum</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="L1">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Laboratorium</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="code" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="Z3"/>
               <xs:enumeration value="G3"/>
               <xs:enumeration value="V4"/>
               <xs:enumeration value="B2"/>
               <xs:enumeration value="L1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="codeSystem" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="2.16.840.1.113883.2.4.15.1060"/>
               <xs:enumeration value="2.16.840.1.113883.2.4.15.1060"/>
               <xs:enumeration value="2.16.840.1.113883.2.4.15.1060"/>
               <xs:enumeration value="2.16.840.1.113883.2.4.15.1060"/>
               <xs:enumeration value="2.16.840.1.113883.2.4.15.1060"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" use="optional" type="xs:string"/>
      <xs:attribute name="enum" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="Huisartsenpraktijk">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Huisartsenpraktijk</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="Verloskundigenpraktijk">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Verloskundigenpraktijk</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="Ziekenhuis">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Ziekenhuis</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="Echocentrum">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Echocentrum</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="Laboratorium">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Laboratorium</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="type_zorginstelling_bij_verwijzing">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.82019"/>
      <!-- == *** No conceptList entries found for concept type_zorginstelling_bij_verwijzing == -->
      <xs:attribute name="value" use="optional" type="xs:string"/>
      <xs:attribute name="code" use="optional" type="xs:string"/>
      <xs:attribute name="codeSystem" use="optional" type="xs:string"/>
      <xs:attribute name="displayName" use="optional" type="xs:string"/>
      <xs:attribute name="enum" use="optional" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="vrouw">
      <xs:sequence>
         <xs:element name="burgerservicenummer"
                     minOccurs="1"
                     maxOccurs="1"
                     type="burgerservicenummer">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Burgerservicenummer</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Het burgerservicenummer (BSN) is een uniek en persoonsgebonden identificerend nummer. Dit nummer wordt automatisch toegekend bij geboorte en wanneer iemand zich inschrijft bij de Basisregistratie personen (BRP).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="adaextension" type="adaextension">
            <xs:annotation>
               <xs:documentation>Optionele extensie informatie</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.2"/>
   </xs:complexType>
   <xs:complexType name="burgerservicenummer">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10030"/>
      <xs:attribute name="value" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="9"/>
               <xs:maxLength value="9"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="zwangerschap">
      <xs:sequence>
         <xs:element name="graviditeit"
                     minOccurs="0"
                     maxOccurs="1"
                     type="graviditeit">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Graviditeit</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Het aantal keren dat de vrouw zwanger is geworden (inclusief deze).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="pariteit_voor_deze_zwangerschap"
                     minOccurs="0"
                     maxOccurs="1"
                     type="pariteit_voor_deze_zwangerschap">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Pariteit (vóór deze zwangerschap)</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Aantal voorafgaande zwangerschappen vóór deze zwangerschap die eindigden met een partus (&gt;= 16w 0d / 112 dagen).De waarde van dit item is minimaal 1 minder dan graviditeit.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="wijze_einde_zwangerschap"
                     minOccurs="0"
                     maxOccurs="1"
                     type="wijze_einde_zwangerschap">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Wijze einde zwangerschap</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">De wijze waarop de zwangerschap geëindigd is.TOP (Termination of Pregnancy) is zwangerschapsafbreking na 16+0 weken (16w0d). Bij TOP wordt hier 'Partus' geregistreerd, zodat dit meegenomen wordt als pariteit. Dit in tegenstelling tot APLA, waarmee een zwangerschapsafbreking (abortus) van minder dan 16 weken wordt bedoeld.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="datum_einde_zwangerschap"
                     minOccurs="0"
                     maxOccurs="1"
                     type="datum_einde_zwangerschap">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Datum einde zwangerschap</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Moment (datum en tijd) waarop de zwangerschap medisch gezien is geëindigd, anders dan na een partus (bij een partus wordt dit item niet ingevuld).NB. Bij een partus wordt op een andere plaats in het dossier geregistreerd: geboortedatum per kind én geboortedatum/tijd van de placenta(e).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="adaextension" type="adaextension">
            <xs:annotation>
               <xs:documentation>Optionele extensie informatie</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.3"/>
   </xs:complexType>
   <xs:complexType name="graviditeit">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.20010"/>
      <xs:attribute name="value" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:decimal">
               <xs:minInclusive value="1"/>
               <xs:maxInclusive value="75"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="pariteit_voor_deze_zwangerschap">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.20150"/>
      <xs:attribute name="value" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:decimal">
               <xs:minInclusive value="0"/>
               <xs:maxInclusive value="30"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="wijze_einde_zwangerschap">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.80625"/>
      <xs:attribute name="value" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Partus</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Miskraam</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="21">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Miskraam - Spontaan</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="22">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Miskraam - Medicamenteus</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="23">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Miskraam - Instrumenteel</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="3">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">APLA</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="31">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">APLA - Medicamenteus</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="32">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">APLA - Instrumenteel</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="4">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">EUG</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="5">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">(Partiële) Mola</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="NI">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">geen informatie</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="code" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="1"/>
               <xs:enumeration value="2"/>
               <xs:enumeration value="21"/>
               <xs:enumeration value="22"/>
               <xs:enumeration value="23"/>
               <xs:enumeration value="3"/>
               <xs:enumeration value="31"/>
               <xs:enumeration value="32"/>
               <xs:enumeration value="4"/>
               <xs:enumeration value="5"/>
               <xs:enumeration value="NI"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="codeSystem" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="2.16.840.1.113883.2.4.4.13.46"/>
               <xs:enumeration value="2.16.840.1.113883.2.4.4.13.46"/>
               <xs:enumeration value="2.16.840.1.113883.2.4.4.13.46"/>
               <xs:enumeration value="2.16.840.1.113883.2.4.4.13.46"/>
               <xs:enumeration value="2.16.840.1.113883.2.4.4.13.46"/>
               <xs:enumeration value="2.16.840.1.113883.2.4.4.13.46"/>
               <xs:enumeration value="2.16.840.1.113883.2.4.4.13.46"/>
               <xs:enumeration value="2.16.840.1.113883.2.4.4.13.46"/>
               <xs:enumeration value="2.16.840.1.113883.2.4.4.13.46"/>
               <xs:enumeration value="2.16.840.1.113883.2.4.4.13.46"/>
               <xs:enumeration value="2.16.840.1.113883.5.1008"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" use="optional" type="xs:string"/>
      <xs:attribute name="enum" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="Partus">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Partus</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="Miskraam">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Miskraam</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="Miskraam_Miskraam_-_Spontaan">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Miskraam - Spontaan</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="Miskraam_Miskraam_-_Medicamenteus">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Miskraam - Medicamenteus</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="Miskraam_Miskraam_-_Instrumenteel">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Miskraam - Instrumenteel</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="APLA">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">APLA</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="APLA_APLA_-_Medicamenteus">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">APLA - Medicamenteus</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="APLA_APLA_-_Instrumenteel">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">APLA - Instrumenteel</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="EUG_-_behandeld">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">EUG</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="(partiële)_Mola_-_behandeld">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">(Partiële) Mola</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="geen_informatie">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">geen informatie</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="datum_einde_zwangerschap">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.20540"/>
      <xs:attribute name="value" use="required" type="t-datetime"/>
   </xs:complexType>
   <xs:complexType name="bevalling">
      <xs:sequence>
         <xs:element name="tijdstip_begin_actieve_ontsluiting"
                     minOccurs="0"
                     maxOccurs="1"
                     type="tijdstip_begin_actieve_ontsluiting">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Tijdstip begin actieve ontsluiting</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Datum en tijd begin actieve ontsluitingKNOV definitie van actieve ontsluting: dunne verstreken cervix én ten minste 3 cm ontsluiting én krachtige, pijnlijke weeën om de 2 à 3 minuten.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="duur_actieve_ontsluitingsfase_ontsluitingsduur"
                     minOccurs="0"
                     maxOccurs="1"
                     type="duur_actieve_ontsluitingsfase_ontsluitingsduur">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Duur actieve ontsluitingsfase (Ontsluitingsduur)</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Ontsluitingsduur in uren</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="hoeveelheid_bloedverlies"
                     minOccurs="0"
                     maxOccurs="1"
                     type="hoeveelheid_bloedverlies">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Hoeveelheid bloedverlies</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Hoeveelheid bloedverlies tijdens baring/nageboortetijdperk</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="conditie_perineum_postpartum"
                     minOccurs="0"
                     maxOccurs="1"
                     type="conditie_perineum_postpartum">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Conditie perineum postpartum</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Conditie perineum postpartum. Het gaat hier om de conditie aan het einde van de bevalling/partus.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="adaextension" type="adaextension">
            <xs:annotation>
               <xs:documentation>Optionele extensie informatie</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.6"/>
   </xs:complexType>
   <xs:complexType name="tijdstip_begin_actieve_ontsluiting">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.20590"/>
      <xs:attribute name="value" use="required" type="t-datetime"/>
   </xs:complexType>
   <xs:complexType name="duur_actieve_ontsluitingsfase_ontsluitingsduur">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.82869"/>
      <xs:attribute name="value" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:decimal">
               <xs:minInclusive value="0"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="unit" type="xs:string" use="optional" fixed="h"/>
   </xs:complexType>
   <xs:complexType name="hoeveelheid_bloedverlies">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.20640"/>
      <xs:attribute name="value" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:decimal">
               <xs:fractionDigits value="0"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="unit" type="xs:string" use="optional" fixed="ml"/>
   </xs:complexType>
   <xs:complexType name="conditie_perineum_postpartum">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.80673"/>
      <xs:attribute name="value" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="289854007">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Gaaf</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="199916005">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">1e graads perineumruptuur</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="199925004">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">2e graads perineumruptuur</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="199930000">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">3e graads ruptuur</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="449807005">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">3a - sfincterlaesie externum &lt; 50%</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="449808000">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">3b - sfincterlaesie externum ≥ 50%</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="449809008">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">3c - sfincterlaesie externum en internum</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="199934009">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">4e graads ruptuur</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="609344008">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Episiotomiewond</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="OTH">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Anders</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="UNK">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Onbekend</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="NI">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Geen informatie</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="code" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="289854007"/>
               <xs:enumeration value="199916005"/>
               <xs:enumeration value="199925004"/>
               <xs:enumeration value="199930000"/>
               <xs:enumeration value="449807005"/>
               <xs:enumeration value="449808000"/>
               <xs:enumeration value="449809008"/>
               <xs:enumeration value="199934009"/>
               <xs:enumeration value="609344008"/>
               <xs:enumeration value="OTH"/>
               <xs:enumeration value="UNK"/>
               <xs:enumeration value="NI"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="codeSystem" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="2.16.840.1.113883.6.96"/>
               <xs:enumeration value="2.16.840.1.113883.6.96"/>
               <xs:enumeration value="2.16.840.1.113883.6.96"/>
               <xs:enumeration value="2.16.840.1.113883.6.96"/>
               <xs:enumeration value="2.16.840.1.113883.6.96"/>
               <xs:enumeration value="2.16.840.1.113883.6.96"/>
               <xs:enumeration value="2.16.840.1.113883.6.96"/>
               <xs:enumeration value="2.16.840.1.113883.6.96"/>
               <xs:enumeration value="2.16.840.1.113883.6.96"/>
               <xs:enumeration value="2.16.840.1.113883.5.1008"/>
               <xs:enumeration value="2.16.840.1.113883.5.1008"/>
               <xs:enumeration value="2.16.840.1.113883.5.1008"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" use="optional" type="xs:string"/>
      <xs:attribute name="enum" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="Perineum_intact_(finding)">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Gaaf</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="First_degree_perineal_tear_during_delivery_-_delivered_(disorder)">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">1e graads perineumruptuur</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="Second_degree_perineal_tear_during_delivery_-_delivered_(disorder)">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">2e graads perineumruptuur</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="Third_degree_perineal_tear_during_delivery_-_delivered_(disorder)">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">3e graads ruptuur</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="Third_degree_perineal_tear_during_delivery_-_delivered_(disorder)_Type_3a_third_degree_laceration_of_perineum_(disorder)">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">3a - sfincterlaesie externum &lt; 50%</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="Third_degree_perineal_tear_during_delivery_-_delivered_(disorder)_Type_3b_third_degree_laceration_of_perineum_(disorder)">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">3b - sfincterlaesie externum ≥ 50%</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="Third_degree_perineal_tear_during_delivery_-_delivered_(disorder)_Type_3c_third_degree_laceration_of_perineum_(disorder)">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">3c - sfincterlaesie externum en internum</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="Fourth_degree_perineal_tear_during_delivery_-_delivered_(disorder)">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">4e graads ruptuur</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="Episiotomy_wound_(morphologic_abnormality)">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Episiotomiewond</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="Anders">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Anders</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="Onbekend">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Onbekend</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="Geen_informatie">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Geen informatie</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="uitkomst_per_kind">
      <xs:sequence>
         <xs:element name="baring" minOccurs="1" maxOccurs="1" type="baring">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Baring</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Baring is het geboren laten worden van één uitkomst (kind).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="adaextension" type="adaextension">
            <xs:annotation>
               <xs:documentation>Optionele extensie informatie</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.7"/>
   </xs:complexType>
   <xs:complexType name="baring">
      <xs:sequence>
         <xs:element name="demografische_gegevens"
                     minOccurs="0"
                     maxOccurs="1"
                     type="demografische_gegevens">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Demografische gegevens</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="kindspecifieke_maternale_gegevens"
                     minOccurs="0"
                     maxOccurs="1"
                     type="kindspecifieke_maternale_gegevens">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Kindspecifieke maternale gegevens</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="kindspecifieke_uitkomstgegevens"
                     minOccurs="0"
                     maxOccurs="1"
                     type="kindspecifieke_uitkomstgegevens">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Kindspecifieke uitkomstgegevens</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="adaextension" type="adaextension">
            <xs:annotation>
               <xs:documentation>Optionele extensie informatie</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.40002"/>
   </xs:complexType>
   <xs:complexType name="demografische_gegevens">
      <xs:sequence>
         <xs:element name="geboortedatum"
                     minOccurs="0"
                     maxOccurs="1"
                     type="geboortedatum">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Geboortedatum</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Moment van geboorte. Datum en (zo mogelijk) tijd</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="adaextension" type="adaextension">
            <xs:annotation>
               <xs:documentation>Optionele extensie informatie</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.40006"/>
   </xs:complexType>
   <xs:complexType name="geboortedatum">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.40050"/>
      <xs:attribute name="value" use="required" type="t-datetime"/>
   </xs:complexType>
   <xs:complexType name="kindspecifieke_maternale_gegevens">
      <xs:sequence>
         <xs:element name="tijdstip_actief_meepersen"
                     minOccurs="0"
                     maxOccurs="1"
                     type="tijdstip_actief_meepersen">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Tijdstip actief meepersen</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="duur_uitdrijving_vanaf_actief_meepersen"
                     minOccurs="0"
                     maxOccurs="1"
                     type="duur_uitdrijving_vanaf_actief_meepersen">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Duur uitdrijving vanaf actief meepersen</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Duur uitdrijving in minuten.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="adaextension" type="adaextension">
            <xs:annotation>
               <xs:documentation>Optionele extensie informatie</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.71"/>
   </xs:complexType>
   <xs:complexType name="tijdstip_actief_meepersen">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.30030"/>
      <xs:attribute name="value" use="required" type="t-datetime"/>
   </xs:complexType>
   <xs:complexType name="duur_uitdrijving_vanaf_actief_meepersen">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.82870"/>
      <xs:attribute name="value" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:decimal">
               <xs:minInclusive value="0"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="unit" type="xs:string" use="optional" fixed="min"/>
   </xs:complexType>
   <xs:complexType name="kindspecifieke_uitkomstgegevens">
      <xs:sequence>
         <xs:element name="type_partus"
                     minOccurs="0"
                     maxOccurs="1"
                     type="type_partus">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Type partus</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Type partus.Een primaire sectio is een geplande sectio en wordt óók als zodanig geregistreerd als deze uitgevoerd wordt wanneer de weeën al zijn begonnen, de vliezen zijn gebroken en/of de uitdrijving is begonnen.TOP (Termination of Pregnancy) is zwangerschapsafbreking na 16 weken. Dit in tegenstelling tot APLA, waarmee een zwangerschapsafbreking (abortus) van minder dan 16 weken wordt bedoeld.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zwangerschapsduur"
                     minOccurs="0"
                     maxOccurs="1"
                     type="zwangerschapsduur">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Zwangerschapsduur</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Zwangerschapsduur in dagen bij geboorte kinderen.De dataset definieert de zwangerschapsduur in dagen.Zorgverleners zien de zwangerschapsduur het liefste in weken/dagen. Dus bijvoorbeeld: 36w2d of 40+2.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="vaginale_kunstverlossing_groep"
                     minOccurs="0"
                     maxOccurs="1"
                     type="vaginale_kunstverlossing_groep">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Vaginale kunstverlossing (groep)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="lichamelijk_onderzoek_kind"
                     minOccurs="0"
                     maxOccurs="1"
                     type="lichamelijk_onderzoek_kind">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Lichamelijk onderzoek kind</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Lichamelijk onderzoek pasgeborene direct postpartum</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="adaextension" type="adaextension">
            <xs:annotation>
               <xs:documentation>Optionele extensie informatie</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.72"/>
   </xs:complexType>
   <xs:complexType name="type_partus">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.80626"/>
      <xs:attribute name="value" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="177184002">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Spontaan</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="3311000146109">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Vaginale kunstverlossing</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="11466000">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Sectio Caesarea</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="177141003">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Primair</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="274130007">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Secundair</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="10">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Termination Of Pregnancy (TOP)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="447972007">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Chemische inleiding</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="236990004">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Sectio Caesarea</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="9">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Overig</xs:documentation>
                     <xs:documentation source="desc" xml:lang="nl-NL">Overige TOP (Termination of Pregnancy - zwangerschapsafbreking ná 16 weken)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="NI">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Geen informatie</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="code" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="177184002"/>
               <xs:enumeration value="3311000146109"/>
               <xs:enumeration value="11466000"/>
               <xs:enumeration value="177141003"/>
               <xs:enumeration value="274130007"/>
               <xs:enumeration value="10"/>
               <xs:enumeration value="447972007"/>
               <xs:enumeration value="236990004"/>
               <xs:enumeration value="9"/>
               <xs:enumeration value="NI"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="codeSystem" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="2.16.840.1.113883.6.96"/>
               <xs:enumeration value="2.16.840.1.113883.6.96"/>
               <xs:enumeration value="2.16.840.1.113883.6.96"/>
               <xs:enumeration value="2.16.840.1.113883.6.96"/>
               <xs:enumeration value="2.16.840.1.113883.6.96"/>
               <xs:enumeration value="2.16.840.1.113883.2.4.4.14"/>
               <xs:enumeration value="2.16.840.1.113883.6.96"/>
               <xs:enumeration value="2.16.840.1.113883.6.96"/>
               <xs:enumeration value="2.16.840.1.113883.2.4.4.14.10"/>
               <xs:enumeration value="2.16.840.1.113883.5.1008"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" use="optional" type="xs:string"/>
      <xs:attribute name="enum" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="Normal_delivery_procedure_(procedure)">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Spontaan</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="Assisted_delivery_of_fetus_(procedure)">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Vaginale kunstverlossing</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="Cesarean_section_(procedure)">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Sectio Caesarea</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="Cesarean_section_(procedure)_Elective_cesarian_delivery_(procedure)">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Primair</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="Cesarean_section_(procedure)_Emergency_cesarian_section_(procedure)">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Secundair</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="Termination_of_Pregnancy_(TOP)">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Termination Of Pregnancy (TOP)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="Termination_of_Pregnancy_(TOP)_Medical_termination_of_pregnancy_using_prostaglandin_(procedure)">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Chemische inleiding</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="Termination_of_Pregnancy_(TOP)_Postmortem_cesarean_section_(procedure)">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Sectio Caesarea</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="Termination_of_Pregnancy_(TOP)_Overig">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Overig</xs:documentation>
                     <xs:documentation source="desc" xml:lang="nl-NL">Overige TOP (Termination of Pregnancy - zwangerschapsafbreking ná 16 weken)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="Geen_informatie">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Geen informatie</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="zwangerschapsduur">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.20062"/>
      <xs:attribute name="value" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:decimal">
               <xs:minInclusive value="0"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="unit" type="xs:string" use="optional" fixed="d"/>
   </xs:complexType>
   <xs:complexType name="vaginale_kunstverlossing_groep">
      <xs:sequence>
         <xs:element name="vaginale_kunstverlossing"
                     minOccurs="0"
                     maxOccurs="1"
                     type="vaginale_kunstverlossing">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Vaginale kunstverlossing</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="adaextension" type="adaextension">
            <xs:annotation>
               <xs:documentation>Optionele extensie informatie</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.40189"/>
   </xs:complexType>
   <xs:complexType name="vaginale_kunstverlossing">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.40190"/>
      <xs:attribute name="value" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="302383004">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Forceps</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="61586001">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Vacuüm</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="699999008">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Versie en extractie</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="359940006">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Partiële stuitextractie</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="416055001">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Stuitextractie</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="OTH">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">anders</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="NI">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">geen informatie</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="code" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="302383004"/>
               <xs:enumeration value="61586001"/>
               <xs:enumeration value="699999008"/>
               <xs:enumeration value="359940006"/>
               <xs:enumeration value="416055001"/>
               <xs:enumeration value="OTH"/>
               <xs:enumeration value="NI"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="codeSystem" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="2.16.840.1.113883.6.96"/>
               <xs:enumeration value="2.16.840.1.113883.6.96"/>
               <xs:enumeration value="2.16.840.1.113883.6.96"/>
               <xs:enumeration value="2.16.840.1.113883.6.96"/>
               <xs:enumeration value="2.16.840.1.113883.6.96"/>
               <xs:enumeration value="2.16.840.1.113883.5.1008"/>
               <xs:enumeration value="2.16.840.1.113883.5.1008"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" use="optional" type="xs:string"/>
      <xs:attribute name="enum" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="Forceps_delivery_(procedure)">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Forceps</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="Delivery_by_vacuum_extraction_(procedure)">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Vacuüm</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="Obstetrical_version_with_extraction_(procedure)">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Versie en extractie</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="Partial_breech_extraction_(procedure)">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Partiële stuitextractie</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="Total_breech_extraction_(procedure)">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">Stuitextractie</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="anders">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">anders</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="geen_informatie">
                  <xs:annotation>
                     <xs:documentation source="name" xml:lang="nl-NL">geen informatie</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="lichamelijk_onderzoek_kind">
      <xs:sequence>
         <xs:element name="apgarscore_na_5_min"
                     minOccurs="0"
                     maxOccurs="1"
                     type="apgarscore_na_5_min">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Apgarscore na 5 min.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geboortegewicht"
                     minOccurs="0"
                     maxOccurs="1"
                     type="geboortegewicht">
            <xs:annotation>
               <xs:documentation source="name" xml:lang="nl-NL">Geboortegewicht</xs:documentation>
               <xs:documentation source="desc" xml:lang="nl-NL">Meting van het lichaamsgewicht zo kort mogelijk na de geboorte.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="adaextension" type="adaextension">
            <xs:annotation>
               <xs:documentation>Optionele extensie informatie</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.80766"/>
   </xs:complexType>
   <xs:complexType name="apgarscore_na_5_min">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.40071"/>
      <xs:attribute name="value" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:decimal">
               <xs:minInclusive value="0"/>
               <xs:maxInclusive value="10"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="geboortegewicht">
      <xs:attribute name="conceptId"
                    type="t-id"
                    use="optional"
                    fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.40060"/>
      <xs:attribute name="value" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:decimal">
               <xs:minInclusive value="0"/>
               <xs:fractionDigits value="0"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="unit" type="xs:string" use="optional" fixed="gram"/>
   </xs:complexType>
   <xs:complexType name="adaextension">
      <xs:sequence>
         <xs:any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##any" processContents="skip"/>
   </xs:complexType>
</xs:schema>
